<div id="emv-nav">
    <nav class="navbar">
        <div class="navbar-header">
            <a id="navbar-logo" class="emv-navbar-brand" href="./respond">
                <span class="sr-only">Vic Emergency</span>
                <img class="icon-controls-vic_emergency logo-full" alt="Vic Emergency logo - full version" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                <img class="icon-controls-vic_emergency_teardrop logo-short" alt="Vic Emergency logo - short version" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
            </a>
            <div class="emv-navbar-toggle-container">
                <button type="button" class="emv-navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span>
                        @@if (active === "prepare") { Prepare &amp; Get Ready }
                        @@if (active === "incidents") { Incidents &amp; Warnings }
                        @@if (active === "relief") { Relief &amp; Recovery }
                        @@if (active === "standard") { About this site }
                        @@if (active === "news-and-media") { News and Media }
                    </span>
                    <i class="fa fa-chevron-down"></i>
                </button>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li @@if (active === "prepare") { class="active"}>
                    <a class="prepare" href="@@linkPrepare">Prepare &amp; Get Ready @@if (active === "prepare") { <span class="sr-only">(selected)</span>}</a>
                </li>
                <li @@if (active === "incidents") { class="active"}>
                    <a class="incidents" href="@@linkIncidents">Incidents &amp; Warnings @@if (active === "incidents") { <span class="sr-only">(selected)</span>}</a>
                </li>
                <li @@if (active === "relief") { class="active"}>
                    <a class="relief" href="@@linkRelief">Relief &amp; Recovery @@if (active === "relief") { <span class="sr-only">(selected)</span>}</a>
                </li>
            </ul>
            <div class="pull-right right-top-nav dropdown hidden-xs hidden-sm">
                <div class="triple-zero hide">In an emergency, call Triple Zero (000)</div>
                
            </div>
        </div>
        <div class="emv-navbar-menu dropdown visible-sm visible-xs">
            <button class="btn btn-default btn-md dropdown-toggle" type="button" id="SupportLinksMenu" data-toggle="modal" data-target="#hamburgerMenuModal" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-bars" aria-hidden="true"></span>
                <span class="sr-only">Show Menu</span>
            </button>
        </div>

        
    </nav>
</div>
