<div class="news-and-media-menu @@if (contentFile !== "") {subpage} ">
    <h1>Media Releases</h1>
    <div class="items">
        <div class="separator"></div>
        <a href="news-and-media/victorians-to-assist-with-south-australian-bushfires" @@if (contentFile === "victorians-to-assist-with-south-australian-bushfires") {class="active"}>
            <div class="timestamp">26 November 2015</div>
            <div class="title">Victorians to assist with South Australian bushfires</div>
        </a>
        <div class="separator"></div>
        <a href="news-and-media/one-website-for-emergency-information-and-warnings" @@if (contentFile === "one-website-for-emergency-information-and-warnings") {class="active"}>
            <div class="timestamp">11 November 2015</div>
            <div class="title">One Website for Emergency Information and Warnings</div>
        </a>
        <div class="separator"></div>
        <a href="news-and-media/victorians-warned-to-prepare-for-fire-season-now" @@if (contentFile === "victorians-warned-to-prepare-for-fire-season-now") {class="active"}>
            <div class="timestamp">06 November 2015</div>
            <div class="title">Victorians Warned To Prepare For Fire Season Now</div>
        </a>
        <div class="separator"></div>
        <a href="news-and-media/firefighters-continue-managing-blazes" @@if (contentFile === "firefighters-continue-managing-blazes") {class="active"}>
            <div class="timestamp">09 October 2015</div>
            <div class="title">Firefighters continue managing blazes</div>
        </a>
        <div class="separator"></div>
        <a href="news-and-media/australian-and-new-zealand-firefighters-return-from-us-wildfires" @@if (contentFile === "australian-and-new-zealand-firefighters-return-from-us-wildfires") {class="active"}>
            <div class="timestamp">29 September 2015</div>
            <div class="title">Australian and New Zealand firefighters return from US wildfires</div>
        </a>
        <div class="separator"></div>
        <a href="news-and-media/get-ready-for-stormsafe-week-do-you-know-what-to-do" @@if (contentFile === "get-ready-for-stormsafe-week-do-you-know-what-to-do") {class="active"}>
            <div class="timestamp">14 September 2015</div>
            <div class="title">Get Ready for StormSafe Week: Do you know what to do?</div>
        </a>
        <div class="separator"></div>
        <a href="news-and-media/dry-conditions-could-see-increased-fire-activity-in-victoria" @@if (contentFile === "dry-conditions-could-see-increased-fire-activity-in-victoria") {class="active"}>
            <div class="timestamp">02 September 2015</div>
            <div class="title">Dry conditions could see increased fire activity in Victoria</div>
        </a>
        <div class="separator"></div>
        <a href="news-and-media/australian-and-new-zealand-personnel-deployed-to-fight-us-wildfires" @@if (contentFile === "australian-and-new-zealand-personnel-deployed-to-fight-us-wildfires") {class="active"}>
            <div class="timestamp">20 August 2015</div>
            <div class="title">Australian and New Zealand personnel deployed to fight US wildfires</div>
        </a>
        <div class="separator"></div>
    </div>
</div>
