<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{subject}}</title>
</head><body>
Please <a href="{{{verificationLink}}}">click here to verify your email address</a> or copy &amp; paste the following link in a browser:
<br><br>
<a href="{{{verificationLink}}}">{{{verificationLink}}}</a>
</body></html>
