<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{subject}}</title>
</head><body>
<br><br>
Dear {{name}}
<br><br>
Heres your email about {{{watchzone}}}
<br><br>
{{{alertBody}}}

</body></html>
