$LATO_FONT: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
$COLOR_MESSAGE_BACKGROUND: #fff;
$COLOR_MESSAGE_FONT:       #000;
$COLOR_ERROR_BACKGROUND:   #fcc;
$COLOR_ERROR_FONT:         #f00;
$COLOR_SUCCESS_BACKGROUND: #cfc;
$COLOR_SUCCESS_FONT:       #0f0;

$COLOR_BRAND_RED:          #C33;
$COLOR_BRAND_RED_LIGHT:    #F03;
$COLOR_BRAND_BLUE:         #09C;
$COLOR_BRAND_BLUE_LIGHT:   #09F;
$COLOR_BRAND_YELLOW:       #F90;
$COLOR_BRAND_YELLOW_LIGHT: #F9A831;
$COLOR_BRAND_BLACK:        black;

$COLOR_GREY_DARK:          #333;
$COLOR_PALE:               #ccc;
$COLOR_SIDEBAR_HOVER:      #dedede;
$COLOR_GREY_LIGHT:         #e5e5e5;
$COLOR_WHITE:              #fff;
$COLOR_NAVBAR_BACKGROUND:  #f4f3f3;
$COLOR_CHARCOAL:           #6b6b6b;

$COLOR_NEWS_SEPARATOR:     #ababab;
$COLOR_NEWS_BACKGROUND:    #f6f6f6;
$COLOR_NEWS_HOVER:         $COLOR_SIDEBAR_HOVER;

$COLOR_TEXT_GREY_DARK:     $COLOR_GREY_DARK;
$COLOR_TEXT_GREY_MID:      #555;
$COLOR_TEXT_GREY_LIGHT:    $COLOR_CHARCOAL;

$COLOR_LOCATE_ME_BUTTON_BACKGROUND_NOT_FOLLOWING: #0066cc;
$COLOR_LOCATE_ME_BUTTON_BACKGROUND_REQUESTING:    $COLOR_BRAND_BLUE_LIGHT;
$COLOR_LOCATE_ME_BUTTON_BACKGROUND_FOLLOWING:     $COLOR_BRAND_BLUE_LIGHT;
$COLOR_LOCATE_ME_BUTTON_FONT:                     $COLOR_WHITE;

$COLOR_STATIC_MENU_ACTIVE_MAIN_BACKGROUND:        $COLOR_BRAND_BLUE_LIGHT;
$COLOR_STATIC_MENU_ACTIVE_MAIN_FONT:              $COLOR_WHITE;
$COLOR_STATIC_MENU_ACTIVE_SUB_BACKGROUND:         $COLOR_PALE;
$COLOR_STATIC_MENU_ACTIVE_SUB_FONT:               $COLOR_GREY_DARK;

$COLOR_STATIC_MENU_RELIEF_ACTIVE_MAIN_BACKGROUND:   $COLOR_BRAND_BLUE_LIGHT;
$COLOR_STATIC_MENU_PREPARE_ACTIVE_MAIN_BACKGROUND:  $COLOR_BRAND_YELLOW_LIGHT;
$COLOR_STATIC_MENU_STANDARD_ACTIVE_MAIN_BACKGROUND: $COLOR_CHARCOAL;


$COLOR_FDR_MAP_LABEL_FONT:       #0a477c;
$COLOR_FDR_MAP_LABEL_BACKGROUND: #f1f1f1;
$COLOR_FDR_MAP_LABEL_BORDER:     $COLOR_GREY_DARK;

$COLOR_FDR_LOWMODERATE: #78bf41;
$COLOR_FDR_HIGH:        #00aced;
$COLOR_FDR_VERYHIGH:    #fded00;
$COLOR_FDR_SEVERE:      #f69527;
$COLOR_FDR_EXTREME:     #ec2f22;
$COLOR_FDR_CODERED:     #ec2f22; // this backgound should be used with the diagonal pattern, not in itself.

//OSOM COLORS
$COLOR_ADVICE:        #FCE471;
// Z-INDEXES
$ZINDEX_NAV_SKIP:          4020;
$ZINDEX_NAV:               4010;
$ZINDEX_HEADER:            4000;
$ZINDEX_JUMP_TO_BACK:      3900;
$ZINDEX_SIDEBAR_SML:       3000;
$ZINDEX_SIDEBAR_CONTROL:   3010;
$ZINDEX_MAP_CONTROL:       1000; // Leaflet places map controls at 1000
$ZINDEX_MAP_CONTROL_LAYER: 2000;
$ZINDEX_MAP_LOADING:       2000;
$ZINDEX_MODAL_BACKDROP:    5000;
$ZINDEX_MODAL:             5010;
$ZINDEX_ALERT:             5020;
$ZINDEX_FOOTER_BUTTON:     2000;
$ZINDEX_FOOTER_DROPDOWN:   3000;
$ZINDEX_LOADING:           6000;

// BREAKPOINTS
$BREAK_XS: 320px;
$BREAK_SML: 768px;
$BREAK_MED: 992px;
$BREAK_LRG: 1200px;

$BREAK_STATIC_PAGES_SML: 580px;
$BREAK_STATIC_PAGES_MED: 800px;

// BREAKPOINTS
$BREAK_HEIGHT_XS: 320px;
$BREAK_HEIGHT_SM: 375px;
$BREAK_HEIGHT_MD: 568px;
$BREAK_HEIGHT_LG: 600px;
$BREAK_HEIGHT_XL: 768px;

// FIXED DIMENSIONS
$SIDEBAR_WIDTH_SML:      100%;
$SIDEBAR_WIDTH_MED:      420px;
$SIDEBAR_WIDTH_EXPANDED: 100%;

// DEFAULT PRESENTATION (FOR CONSISTENT EFFECTS)
$DEFAULT_DROP_SHADOW: 0 0 2px 1px rgba(0,0,0,0.2);
