/* buildVersion: $BUILD_VERSION_TAG */

@import '_constants.scss';
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);

.leaflet-bottom {
    margin-bottom: 25px;
}

.modal-dialog {
    .btn:active, .btn.active {
        background-color: $COLOR_BRAND_BLUE_LIGHT;
        color: $COLOR_WHITE;
    }
}

body.incidents {
    #emv-header {
        height:60px;
    }
    #emv-content {
        padding:120px 0 0px 0;
        .leaflet-top {
            top:-10px;
            .leaflet-control-showall {
                display:none;
            }
        }
    }
    #emv-content.map-only-view{
        padding-top:120px;
        @media(max-width: 768px) and (min-aspect-ratio: 13/9) {
            padding-top:62px;
        }
    }
    @media (max-width: $BREAK_SML) {
         #emv-content{
            padding-top:170px;
        }
    }

    @media (min-width:$BREAK_SML) {
        #emv-header {
            height:60px;
        }
        #emv-content {
            padding:118px 0 50px 0;

            .leaflet-top {
                top:0;
                .leaflet-control-showall {
                    display:block;
                }
            }
        }
    }
    @media (min-aspect-ratio: 13/9) and (max-width: $BREAK_SML) {
        #emv-header {
            height: 62px;
        }
        #emv-content {
            padding:62px 0 0px 0;

            .leaflet-top {
                top:30px;
                .leaflet-control-showall {
                    display:none;
                }
            }
        }
    }
}

body.prepare,
body.relief,
body.standard {
    #emv-header {
        height:62px;
    }
    #emv-content {
        padding:62px 0 0 0;
    }
    @media (min-width:$BREAK_SML) {
        #emv-header {
            height:60px;
        }
        #emv-content {
            padding:70px 0 50px 0;
        }
    }
}

#emv-header {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    z-index:$ZINDEX_HEADER;
}
#emv-content {
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}
#emv-footer {
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:50px;
    background:#F4F4F4;
}
#emv-footer-xs {
    position:absolute;
    bottom:0px;
    right:0px;
    width:46px;
    height:50px;
    background:#F4F4F4;
}
#alert-placeholder {
    position:absolute;
    z-index:$ZINDEX_ALERT;
    left:50%;
    margin-left:-25%;
    width:50%;
    top:60px;
}

.control-geosearch {
    min-width: 200px;
}

label.no-emphasis {
  font-weight: normal;
  font-style: italic;
}

.victoria {
  background-image: url(../images/controls/map/state.png);
  width:27px;
  height:19px;
}

.refresh-control {
    div.updated-bar {
        display:inline-block;
        height:26px;
        padding:0 8px 0 0;
        span {
            display:inline-block;
            font-size:12px;
            line-height:18px;
            padding:4px 8px;
            background:#FFF;
            border-radius:4px;
            -webkit-border-radius:4px;
            box-shadow: 0 1px 5px rgba(0,0,0,0.65);
        }
    }
    div.refresh-bar {
        display:inline-block;
        box-shadow: 0 1px 5px rgba(0,0,0,0.65);
        border-radius: 4px;
        a {
            display:inline-block;
            background-color:#FFF;
            width:26px;
            height:26px;
            text-align:center;
            text-decoration:none;
            line-height:26px;
            color:#000;
            &:first-child {
                border-radius:4px 0 0 4px;
                border-right:1px solid #CCC;
            }
            &:last-child {
                border-radius:0 4px 4px 0;
            }
            &:hover {
                background-color:#F4F4F4;
            }
        }
        a.active {
            color:$COLOR_WHITE;
            background-color:$COLOR_BRAND_BLUE_LIGHT;
            box-shadow:inset 0 2px 2px rgba(0, 0, 0, 0.2);
        }
    }
}


.cluster-icon {
  background-image: url(../images/markers/incident/Other_Incident.svg);
  text-align: right;
  color: red;
  font-size: 16px;
}

.published-date-timestamp {
  background-color: white;
  padding: 2px;
}

html, body, #container {
  height: 100%;
  width: 100%;
  //overflow needs to be hidden to prevent the entire website to be scrollable
  overflow: hidden;
}
body {
  font-family: $LATO_FONT;
  min-width:300px;
}
#container {
  position:relative;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}

#map {
  position:relative;
  width: auto;
  height: 100%;
}
#loading {
  position: absolute;
  width: 96px;
  height: 96px;
  top: 50%;
  left: 50%;
  padding: 24px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  background:$COLOR_WHITE;
  margin: -48px 0 0 -48px;
  z-index: $ZINDEX_LOADING;
  box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.3);
}
#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#aboutTabsContent {
  padding-top: 10px;
}
.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}

/* SIDEBAR
======================================== */

.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-overflow-scrolling:touch;
}
.sidebar-table {
    width: 100%;

    bottom: 0px;
    @media (max-width: $BREAK_SML -1) {
        top: 94px;
   }
  @media (min-aspect-ratio: 13/9) and (max-width: $BREAK_SML) {
    top: 10px;
  }
}
.sidebar-table-scrolling{
    @media (max-width: 480px){
        .sidebar-sort-panel {
            display:none !important;
        }
        .tab-content{
            margin-top: 46px;
            border-top: 1.5px solid #ccc;
        }
    }
}
.no-feature-row {
    .sidebar-sort-panel{
        display:none !important;
    }
    .tab-content{
        margin-top:45px;
    }
}

#sidebar {
    height: 100%;
    z-index:$ZINDEX_SIDEBAR_SML;
    -webkit-transition:left 0.3s ease;
    -moz-transition:left 0.3s ease;
    -o-transition:left 0.3s ease;
    -ms-transition:left 0.3s ease;
    transition:left 0.3s ease;
    border-right: 1px solid $COLOR_PALE;
    background:$COLOR_WHITE;
    .panel-heading {
        padding:8px 8px 7px 8px;
    }
    .no-elements-on-the-list {
        display:none;
    }
    .list-summary {
        .zoom-to-state{
            font-weight:bold;
            color: #0099FF;
        }
        text-align: center;
        td {
            padding-top: 40px;
        }
        p.feature-list-show-all {
            color:$COLOR_BRAND_BLUE_LIGHT;
            .fa-plus {
                font-size:12px;
            }
            a {
                color:$COLOR_BRAND_BLUE_LIGHT;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .tab-summary p {
        text-align: center;
    }
}

.sidebar-closed {
    #sidebar {
        position:absolute;
        left:-10000px;
        width:0;
    }
}

.sidebar-opened{
    #sidebar {
        width:$SIDEBAR_WIDTH_SML;
        left:0;

        @media (min-aspect-ratio: 13/9) and (max-width: $BREAK_SML) {
            padding-top:55px;
            background-color:$COLOR_NAVBAR_BACKGROUND;
        }
    }
    #map{
        @media (max-width:767px){
            left:-10000px;
         }
    }
}

@media (min-width:$BREAK_SML) {
    #sidebar {
        position:relative;
        float:left;
        z-index:auto;
    }
    .sidebar-opened #sidebar {
        left:auto;
        width:$SIDEBAR_WIDTH_MED;
    }
    .sidebar-closed #sidebar {
        left:auto;
        width:0px;
    }
}

.sidebar-expanded {
    #sidebar {
        position:absolute;
        z-index:$ZINDEX_SIDEBAR_SML;
        width:$SIDEBAR_WIDTH_EXPANDED !important;
    }
    #map {
        padding-left:$SIDEBAR_WIDTH_MED;
    }
    #sidebar-toggle-container {
        display:none;
    }
    #sidebar-range {
    }
    .sidebar-table{
        top: 0px;
    }
    .tab-content{
        margin-top:0px;
        width:100%;
    }
}

.sidebar-expanded-only {
  display:none;
  min-width: 50px;
  .sort{
      i{
          margin-left:10px;
      }
  }
}
.sidebar-expanded .sidebar-expanded-only th,
.sidebar-expanded .sidebar-expanded-only td,
.sidebar-expanded th.sidebar-expanded-only,
.sidebar-expanded td.sidebar-expanded-only {
  display: table-cell;
}

.sidebar-collapsed-only {
  display:none;
}
.sidebar-collapsed .sidebar-collapsed-only {
  display: block;
}

#sidebar-toggle-container {
  display:none;
  @media (min-width: $BREAK_SML) {
      display:block;
  }
}

#sidebar-toggle {
  margin-top: -2px;
  position: absolute;
  z-index: $ZINDEX_SIDEBAR_CONTROL;
  background-color: black;
  opacity: 0.8;
  top: 40%;
  height: 20%;
  width: 30px;
  i, span {
    color:$COLOR_WHITE;
  }
}

#mobile-sidebar-toggle {
}

#sidebar-expand {
    display:none;
    @media (min-width: $BREAK_SML) {
        display:inline-block;
    }
}

#sidebar-range {
}

/* LEAFLET
======================================== */

.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}

#map .leaflet-control-zoom-in, #map .leaflet-control-zoom-out {
  font-size:inherit;
  display:none;
  @media (min-width: $BREAK_SML) {
    display: block;
  }
}

.table {
  margin-bottom: 0px;
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

@media (max-width: 767px){
  #sidebar {
    /*display: none;*/
  }
  .url-break {
    word-break: break-all;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .dropdown-menu a i{
  }
}
/* Print Handling */
@media print {
  .leaflet-control-container {
    display: none !important;
  }
}

#skip-container {
  position:relative;
}

#skip-navigation, #skip-filter {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    background-color:$COLOR_GREY_DARK;
    color:$COLOR_WHITE;
    z-index: $ZINDEX_NAV_SKIP;
    outline: none;
}

.leaflet-control-locate {
    display:none; /* Hidden from all views - operation bar contains button that triggers Locate Me */
    background-color:$COLOR_LOCATE_ME_BUTTON_BACKGROUND_REQUESTING;
    @media (min-width: $BREAK_SML) {
        display:none;
    }
    a,
    a:hover,
    a:focus {
        background-color:$COLOR_LOCATE_ME_BUTTON_BACKGROUND_REQUESTING;
        span {
            color:$COLOR_WHITE;
        }
    }
}

.no-style-link,
.no-style-link:hover,
.no-style-link:focus {
    color:#000;
    text-decoration: none;
    font-weight: bold;
}

.hide-xs {
    display: none;
}

@media (min-width: $BREAK_XS + 1) {
    .hide-xs {
        display: block;
    }
}

iframe.planned-burns {
    width: 100%;
    height: 150px;
    @media (min-width: 720px) {
        width: 695px;
    }
    @media (min-height: 500px) {
        height: 250px;
    }
    @media (min-height: 700px) {
        height: 400px;
    }
}

/* GENERAL ACCESSIBILITY
======================================== */
.access-hidden {
    display:none;
}

.gtm-data {  /* data for Google Tag Manager */
    display:none;
}

.media-querier {
    border: 10px solid red;
    width: 100px;
    height: 100px;
    display: none;
    @media (min-width: $BREAK_STATIC_PAGES_SML + 1) {
        width: 101px;
    }
    @media (min-width: $BREAK_STATIC_PAGES_MED + 1) {
        width: 102px;
    }
}
.hidden-ie{
    display:block;
}

.visible-ie{
    display:none;
}
.ie{
     .hidden-ie{
        display:none;
    }

    .visible-ie{
        display:block;
    }
}

.locate-me-spinner {
    display: none;
}
/* Base template for label styling */

.emv-checkbox[type="checkbox"]:not(:checked),
.emv-checkbox[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.emv-checkbox[type="checkbox"]:not(:checked) + label,
.emv-checkbox[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
/* checkbox aspect */
.emv-checkbox[type="checkbox"]:not(:checked) + label:before,
.emv-checkbox[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 20px;
    height: 20px;
    xborder: 1px solid #aaa;
    background: #e7e7e7;
    xborder-radius: 3px;
    xbox-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
/* checked mark aspect */
.emv-checkbox[type="checkbox"]:not(:checked) + label:after,
.emv-checkbox[type="checkbox"]:checked + label:after {
    //content: '✔';
    content:'';
    background:url(svg/sprite-controls.svg) 98.50529801324502% 16.537536072500558% no-repeat;
    position: absolute;
    top: 3px;
    left: 1px;
    font-size: 18px;
    line-height: 0.8;
    color: #000;
    transition: all .2s;
    width:18px;
    height:14px;
}
/* checked mark aspect changes */
.emv-checkbox[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

.emv-checkbox[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
.emv-checkbox[type="checkbox"]:disabled:not(:checked) + label:before,
.emv-checkbox[type="checkbox"]:disabled:checked + label:before {
    xbox-shadow: none;
    xborder-color: #bbb;
    background-color: #ddd;
}

.emv-checkbox[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

.emv-checkbox[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
.emv-checkbox[type="checkbox"]:checked:focus + label:before,
.emv-checkbox[type="checkbox"]:not(:checked):focus + label:before {
    xborder: 1px dotted blue;
}
/* hover style just for information */
label:hover:before {
    xborder: 1px solid #4778d9 !important;
}
.ui-interactive-block{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index:5999;
    opacity:0.3;
    background-color:#ddd;
}
