@import '_constants.scss';

.fdr{
    stroke:#000;
    stroke-width:2px;
    stroke-opacity:1;
    fill-opacity: 1;
}

.fdr-low-moderate{
    fill: #78BF41;
}
.fdr-high{
    fill: #00ACED;
}
.fdr-very-high{
    fill: #FDED00;
}
.fdr-severe{
    fill: #F69527;
}
.fdr-extreme{
    fill: #EE2D24;
}
.fdr-code-red{
}

.marker-fdr {
    padding: 5px;
    margin-left: -37px;
    width: 99px;
    font-size: 10px;
    text-align: center;
    xbackground-color: rgba(255, 255, 255, 0.9);
    xborder: solid black 1px;
}

.marker-fdr-low-moderate
.marker-fdr-high
.marker-fdr-very-high{
    color: #000;
}
.marker-fdr-severe
.marker-fdr-extreme,
.marker-fdr-code-red{
}

.marker-fdr-low-moderate{
}
.marker-fdr-high{

}
.marker-fdr-very-high{

}
.marker-fdr-severe{

}
.marker-fdr-extreme{

}
.marker-fdr-code-red{
}

