@import '_constants.scss';

.fdr{
    fill: red;
    fill-opacity:1;
    stroke:#000;
    stroke-width:2px;
    stroke-opacity:1;
}

.fdr-low-moderate{
    fill: #78BF41;
}
.fdr-high{
    fill: #00ACED;
}
.fdr-very-high{
    fill: #FDED00;
}
.fdr-severe{
    fill: #F69527;
}
.fdr-extreme{
    fill: #EE2D24;
}
.fdr-code-red{
    xfill: url(http://lnaweisu.github.io/leaflet-polygon-fillPattern/example/image.gif);
    fill: #000;
    stroke:  #F02D24;
    stroke-dasharray : 5,5;
}

.marker-fdr {
    background-color: black;
    color: white;
    padding: 5px;
    margin-left: -37px;
    border: solid 2px red;
    width: 99px;
    font-size: 10px;
    text-align: center;
}

.marker-fdr-low-moderate
.marker-fdr-high
.marker-fdr-very-high{
    xcolor: #000;
}
 .marker-fdr-severe
.marker-fdr-extreme{
    xcolor: #fff;

}

.marker-fdr-low-moderate{
}
.marker-fdr-high{

}
.marker-fdr-very-high{

}
.marker-fdr-severe{

}
.marker-fdr-extreme{

}
.marker-fdr-code-red{
    color: red;
}

