@import '_constants.scss';

/*leaflet*/
.leaflet-popup {
    outline: 0;
    font-family: $LATO_FONT;
}

.leaflet-popup-content-wrapper {
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    background: none;
    margin: 0;
    border-radius: 0;
}

.leaflet-popup-content {
    min-width: 300px;
    max-width: 320px;
    margin: 0;
    background: $COLOR_WHITE;
    line-height: 1.2;
}
.custom-search-style {
    .leaflet-popup-content {
        min-width: 50px;
        .search-pin-popup {
            padding: 8px 15px 5px 15px;
        }
    }
}
.search-pin-popup {
    background: $COLOR_WHITE;
    border: 2px solid $COLOR_CHARCOAL;
    padding: 8px 8px 5px 8px;
    text-align: center;
    font-size: 15px;
    margin: -2px;
    height: auto;
    overflow: auto;

    .search-label {
        min-height: 20px;
    }

    .search-create-watchzone {
        position: absolute;
        left: 5px;
        top: 5px;
    }
}

#leaflet-popup-styling {

    .osom-panel-map-marker {
        margin: 0;
        border: none;
    }

    .advice {
        border-left: 10px solid #fbe032;
        border-bottom: solid 1px #c2c2c2;
    }

    .emergency {
        border-left: 10px solid #C33;
        border-bottom: solid 1px #c2c2c2;
    }

    .watchact {
        border-left: 10px solid #f57f2f;
        border-bottom: solid 1px #c2c2c2;
    }

    .evacuate {
        border-left: 10px solid #000;
        border-bottom: solid 1px #c2c2c2;
    }

    .info {
        border-left: 10px solid #1e5da7;
        border-bottom: solid 1px #c2c2c2;
    }

    .osom-popup-header {
        padding: 0px 10px 14px 30px;
        background-color: #fff;
        color: #000;
        min-height: 60px;

        .osom-header-wrapper {
            width: 85%;
        }
    }

    .osom-popup-header > div {
        display: inline-block;
        float: left;
    }

    .popup-header-icon-style {
        height: 30px;
        width: 30px;
        padding-top: 15px;
    }

    .popup-header-font-style {
        color: #000;
        font-weight: bold;
        font-size: 18px;
        padding: 12px 0 0 32px;
        max-width: 230px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .osom-subheader {
        border-bottom: 1px solid #DDDDDD;
        padding: 10px 5px 10px 30px;
    }

    .osom-subheader-contents {
        display: table;

        div {
            display: table-cell;
            vertical-align: middle;
            font-size: 14px;
        }
    }

    .osom-popup-incident-subheader {
        background-color: #f1f0ee;
        padding: 10px 5px 10px 15px;
        display: table;
        width: 100%;

        @media(min-width: $BREAK_SML) {
            padding-left: 30px;
        }
    }

    .subheader-time-style {
        font-size: 11px;
        text-align: right;
        width: 100%;
        font-weight: bold;
        padding-bottom: 3px;
    }

    .osom-popup-incident-subheader > div {
        display: table-cell;
        vertical-align: middle;
    }

    .subheader-icon-style {
        width: 30px;
    }

    .subheader-warning-icon-style {
        width: 30px;
    }

    .subheader-p-style {
        float: left;
        padding: 0 0 0 30px;
        max-width: 220px;
        margin: 0;
    }

    .osom-popup-incident-subheader {
        .subheader-p-style {
            padding-left: 27px;
        }
    }

    .osom-popup-header .subheader-p-style {
        float: left;
        padding: 0 0 0 32px;
        min-width: 200px;
        max-width: 220px;
        font-size: 14px;
        margin: 0;
    }

    .subheader-incident-p-style {
        float: left;
        padding-left: 30px;
        max-width: 210px;
        font-size: 14px;
    }

    .subheader-title-style {
        font-size: 18px;
    }

    .osom-popup-body {
        padding: 10px 15px;

        .fdr-legend {
            max-width: 100% !important;
            margin: auto;
        }
    }

    #osom-popup-content {
        padding-top: 5px;
        padding-left: 5px;
        display: block;

        @media (min-width : $BREAK_SML) {
            padding-left: 15px;
        }
    }

    #osom-popup-content {
        dt {
            display: block;
            float: left;
            background-color: blue;
            font-size: 1.5em;
            width: 20px;
        }

        dd {
            display: block;
            float: left;
            background-color: red;
            margin-left: 32px;
            width: 120px;
        }
    }

    #osom-popup-content span {
        display: block;
        font-weight: normal;
        font-size: 0.8em;
    }

    #osom-popup-content span.fa {
    }

    #osom-popup-content .data-item {
        span:first-child {
            display: inline-block;
            font-size: 1.5em;
            padding-right: 10px;
            width: 50px;
            background-color: red;
        }

        > div {
            display: inline-block;
            background-color: yellow;
        }
    }


    .panel-footer {
        height: 40px;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 0;

        @media (min-width: $BREAK_SML) {
            padding-left: 30px;
            padding-right: 30px;
            font-size: 11px;
        }

        border-top: none;

        a {
            text-decoration: none;
            color: black;
            padding-top: 2px;

            img {
                width: 20px;
                height: 20px;
            }

            .left-margin {
                margin-left: 10px;
            }

            .right-margin {
                margin-right: 10px;
            }
        }

        .btn-label {
            display: inline-block;
            color: #000;
        }
    }

    .fa-search {
        font-size: 14px;
    }
    /*popuptable*/
    #popup-table-style tr td {
        font-weight: normal;
        padding: 0px 5px 5px 0px;
        font-size: 13px;
    }

    #popup-table-style tr th {
        padding: 0px 8px 5px 0px;
        font-size: 14px;
        width: 20px;
    }

    .popup-data-table {
        font-size: 14px;
        padding-left: 3px;
    }
}

//popup close button and tip styling
.leaflet-container a.leaflet-popup-close-button {
    color: #343434;
    top: 10px;
    right: 15px;

    @media(min-width: $BREAK_SML) {
        top: 5px;
        right: 10px;
    }

    span {
        display: none;
    }
}

.lt-ie9 .leaflet-container a.leaflet-popup-close-button {
    .icon-media-cross {
        background-image: url(../images/sprite_controls_mobile.png);
        background-position: 0px -52px;
        width: 20px;
        height: 20px;

        @media(min-width: $BREAK_SML) {
            background-image: url(../images/sprite_controls_desktop.png);
            background-position: 0px -132px;
            width: 10px;
            height: 10px;
        }
    }
}

.leaflet-popup-tip {
    background-color: #f1f0ee;
}

.leaflet-popup-tip-container {
    margin-top: -1px;
}
/*
Locate Me Popup Stylez */
.leaflet-container .locate-control-popup {
    .leaflet-popup-close-button {
        color: #C3C3C3;
        top: 0;
        right: 0;
    }

    .leaflet-popup-content-wrapper {
        background: #FFF;
        padding: 1px;
    }

    .leaflet-popup-content {
        min-width: 210px;
        max-width: 230px;
        margin: 12px 20px;
        background: #FFF;
        border: 0;
        line-height: 1.2;
        padding: 1px;
    }

    .leaflet-popup-tip {
        background: #FFF;
    }
}

.osom-subheader #osom-popup-content {
    padding-left: 10px;
}

.lt-ie9{
    .ie-td-head {
        width:10% !important;
    }
    .ie-td-content{
        width:90% !important;
    }
    .subheader-incident-p-style{
        padding-right:10px;
    }
}