@import '_constants.scss';

#hamburgerMenuModal
{
     font-family:$LATO_FONT;
    .modal-dialog {
        .modal-content {
             border-radius:0;
            .modal-header {
                width: 100%;
                border-radius: 0;
                height: 50px;
                opacity: 1;
                background-color: #fff;
                color: #000;
                padding: 10px 20px;
                font-size: 16px;
                border-bottom: #f1f0ee solid 1.5px;
                .modal-title{
                    font-size:20px;
                    font-weight:bold;
                }
                .close{
                    opacity: 1;
                    color: #000;
                    display: inline-block;
                    font-size: 21px;
                    margin-top: -4px;
                    margin-right: -10px;
                }
            }
            .modal-body {
                padding:15px 20px;
                ul {
                    list-style: none;
                    list-style-type: none;
                    margin: 0px;
                    padding: 0px;
                    li{
                        padding-bottom: 10px;
                        a{  
                             color:#333;
                             font-size:14px;
                             .watchzone-count{
                                width:20px;
                                height:20px;
                                border-radius:10px;
                                position:absolute;
                                text-align:center;
                                top:-10px;
                                left:110px;
                                font-size:12px;
                                padding-top :0px;
                                color: #fff;
                                background: #0099FF;
                            }
                        }
                    }
                }
                #mnuProfile{
                    border-bottom:solid 1px #ddd;
                    margin-bottom: 20px;
                }
            }
            .modal-footer{
                background-color:#f1f0ee;
                padding:9px 10px;
                height:50px;
                img.vic-logo{
                    float:left;
                    margin-left:11px;
                }
                .footer-social{
                    list-style:none;
                    list-style-type:none;
                    margin:0px;
                    padding:0px;
                    float:right;
                    li{
                        float:left;
                        margin-left:9px;
                        img{
                            width:30px;
                            height :30px;
                        }
                    }
                }
            }
        }
    }
}
