@import '_constants.scss';

#emv-nav {
    position:relative;
    z-index:$ZINDEX_NAV;
    border-bottom-width:8px;
    border-bottom-style:solid;
    border-bottom-color:$COLOR_BRAND_RED;
    .navbar {
        height:54px;
        background:#FFF;
        border:0;
        margin:0;
        .navbar-header {

            .open > .dropdown-toggle {
                background-color: #0099FF;
                color:#FFF;
            }
        }
    }
    .navbar-collapse {
        padding:0 8px;
        -webkit-box-shadow:$DEFAULT_DROP_SHADOW;
        box-shadow:$DEFAULT_DROP_SHADOW;
    }
    #navbar {
        background:#FFF;
        margin:0 62px;
    }
    .emv-navbar-brand {
        position:absolute;
        top:0;
        left:0;
        width:62px;
        height:54px;
        padding:7px 15px 0px 15px;
        font-size:0;
        line-height:0;
        @media (min-width: $BREAK_SML) {
            padding-top:10px;
        }
        .logo-full{
            display:none;
        }
        .logo-short{
            display:block;
        }
    }
    .emv-navbar-menu {
        position:absolute;
        top:0;
        right:0;
        width:62px;
        height:54px;
        padding-top:10px;
        font-size:0;
        line-height:0;
        text-align: center;
        display: block;
    }
    @media (min-width: $BREAK_SML) {
        .emv-navbar-menu {
            display:none;
        }
    }
    .emv-navbar-toggle-container {
        padding-top:22px;
        margin:0 62px;
    }
    .emv-navbar-toggle {
        position:relative;
        width:100%;
        height:32px;
        font-size:13px;
        text-transform:uppercase;
        line-height:20px;
        color:#FFF;
        background-color:transparent;
        background-image:none;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding:6px 0;
        border:0;
        margin:0;
    }
    .navbar-toggle .icon-bar {
        background-color:#888;
    }
    .navbar-nav {
        padding:8px 0;
        margin:0;
    }
    .navbar-nav > li > a {
        text-align:center;
        text-transform:uppercase;
        font-size: 13px;
        color:#333;
        background:$COLOR_NAVBAR_BACKGROUND;
    }
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        color:$COLOR_WHITE;
        background:$COLOR_CHARCOAL;
    }
    .navbar-nav > .active a,
    .navbar-nav > .active a:hover,
    .navbar-nav > .active a:focus {
        color:$COLOR_WHITE;
        background:$COLOR_GREY_DARK;
    }
    .avatar {
        margin-right:20px;
        margin-top:20px;
        div{
            min-width: 50px;
            float:left;
        }
        div:focus{
            outline:none;
        }
        #user-profile{
            line-height:30px;
        }
        a.watchzone{
            margin-top:0px;
            .watchzone-count{
                width:20px;
                height:20px;
                border-radius:10px;
                position:absolute;
                text-align:center;
                top:-10px;
                right:15px;
                font-size:12px;
                padding-top :0px;
                color: #fff;
                background: #0099FF;
                xborder:solid 1px red;
            }


        }
    }

}

body.incidents #emv-nav {
    border-color:$COLOR_BRAND_RED_LIGHT;
}
body.incidents #emv-nav .emv-navbar-toggle {
    background-color:$COLOR_BRAND_RED;
}
body.prepare #emv-nav {
    border-color:$COLOR_BRAND_YELLOW_LIGHT;
}
body.prepare #emv-nav  .emv-navbar-toggle {
    background-color:$COLOR_BRAND_YELLOW;
}
body.relief #emv-nav {
    border-color:$COLOR_BRAND_BLUE_LIGHT;
}
body.relief #emv-nav  .emv-navbar-toggle {
    background-color:$COLOR_BRAND_BLUE;
}
body.standard #emv-nav {
    border-color:$COLOR_BRAND_BLACK;
}
body.standard #emv-nav  .emv-navbar-toggle {
    background-color:$COLOR_BRAND_BLACK;
}

@media (min-width: $BREAK_SML) {
    body.incidents #emv-nav .navbar-nav > .active {
        background:$COLOR_BRAND_RED;
    }
    body.prepare #emv-nav  .navbar-nav > .active {
        background:$COLOR_BRAND_YELLOW;
    }
    body.relief #emv-nav  .navbar-nav > .active {
        background:$COLOR_BRAND_BLUE;
    }
    #emv-nav {
        border-bottom-width:0;
        .navbar {
            height:60px;
        }
        .emv-navbar-brand {
            width:62px;
            height:60px;
        }
        #navbar {
            margin:0;
        }
        .emv-navbar-toggle-container {
            display:none;
        }
        .navbar-nav {
            padding:28px 0 0 0;
            margin:0 0 0 62px;
        }
        .navbar-nav > li {
            width:200px;
            float: left;
            background:#333;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-right:5px;
        }
        .navbar-nav > li > a {
            color: #FFF;
            text-transform:uppercase;
            text-align:center;
            font-size:14px;
            line-height:20px;
            background:none;
            padding:6px 0;
            &.prepare,
            &.incidents,
            &.relief {
                background:none;
            }
        }
        .navbar-nav > li > a:hover,
        .navbar-nav > li > a:focus {
            background:none;
        }
        .navbar-nav > li.active > a,
        .navbar-nav > li.active > a:hover,
        .navbar-nav > li.active > a:focus {
            color:#FFF;
            background:none;
        }
        .navbar-collapse {
	          padding:0;
            border:0;
            -webkit-box-shadow:none;
            box-shadow:none;
        }
    }
}

@media (min-width: $BREAK_MED) {
    #emv-nav {
        .emv-navbar-brand {
            padding-top:10px;
             .logo-full{
                display:block;
            }
            .logo-short{
                display:none;
            }
        }
        .navbar-nav {
            margin-left:235px;
        }
    }
}
