@import '_constants.scss';

.emv-gray-input {
    border-radius: 0;
    background-color: #e7e7e7;
    color: #000;
    border: none;
    height: 50px;
    font-size: 16px;
}

#profile-wrapper {
    height: 100%;
    overflow: auto;

    #profile-sidebar {
        float: left;
        padding: 30px 30px;
        width:100%;
        background-color: #fff;
        padding: 0;
        margin-bottom: 0;
        @media(min-width : $BREAK_SML) {
            height: 100%;
            width: 330px;
        }
        a.section-header{
            padding:0px 20px;
            text-decoration:none;
            color: #000;
            font-size:20px;
            font-weight:bold;
            margin: 30px 0px 10px 0px;
            display:block;
        }

        ul {
            list-style: none;
            margin:0px;
            padding:0px;

            li {
                padding:0px 20px;
                font-size: 18px;

                a {
                    color: #000;
                    line-height: 30px;
                    display:block;
                    width:100%;
                    padding:10px 0px;

                }
            }
            li.active{
                background: #f6f6f6; 
                a {
                    border-top:solid 2px #ccc;
                    border-bottom:solid 2px #ccc;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .profile-main-content {
        height: 100%;
        height:auto;
        padding: 20px 30px;
        background-color: #f6f6f6;
        position: relative;
        
        @media(min-width: $BREAK_SML) {
             padding: 20px 20px 0px;
             margin-left:330px;
             margin-right:0px;
        }

        #account-setting-wrapper {
            h2{
                margin-top:0px;
            }
            @media(min-width: $BREAK_SML) {
                xwidth: 50%;
            }

            #profile-form {
              @media(max-width: 767px) {
                 button{
                     width: 100%;
                 }
              }
            }

            #change-password-form {
                margin-top: 100px;
                  @media(max-width: 767px) {
                    .change-pw-btn-wrapper{
                        width:100%;
                        button{
                            width:100%;
                        }
                    }
                }
            }

            .form-buttons {
                > div{
                    float:right;
                    @media(max-width: 767px) {
                        width: 50%;
                    }
                }
                width:100%;
                .delete-btn-wrapper,
                .update-btn-wrapper{
                    float:right;
                }
                .delete-btn-wrapper{
                    margin-right: 20px;
                    @media(max-width: 767px) {
                        margin-right:0px;
                        padding-right:10px;

                    }
                }
                .update-btn-wrapper{
                    @media(max-width: 767px) {
                        padding-left:10px;
                    }
                }

                input[type="submit"],
                input[type="button"],
                button {
                    padding-left: 30px;
                    padding-right: 30px;
                    min-width: 160px;
                    font-size: 14px;
                    @media(max-width: 767px) {
                        font-size:14px;
                        padding-left:10px;
                        padding-right:10px;
                        width:100%;
                        min-width:0px;
                    }
                }
            }


            .has-error {
                margin-bottom: 0px;

                input[type='text'] {
                    border: solid 1px #c71010;
                    background: #ffe6e6;
                }

                span.with-errors {
                    padding-left: 0px 0px 0px 20px;
                    color: #c71010;
                    font-size: 12px;
                }
            }

            .xs-watchzone-list-wrapper{
                padding-top: 90px;
                padding-bottom:30px;
                ul{
                    list-style-type:none;
                    list-style:none;
                    padding:0;
                    margin:0;
                    li{
                        a{
                            line-height:35px;
                            span{
                                color: #000;
                            }
                        }

                    }
                }
            }
        }
    }
}
