@import '_constants.scss';

#watchzone-list {
    width: 300px;
    padding-bottom:50px;
    top:46px;
    border-radius:0;
    border : none;
    background-color: #f1f0ee;
    li {
        width: 100%;
        float: left;
        .bootstrap-switch-on {
            border: solid 1px green;
        }
        .bootstrap-switch-wrapper{
            border-radius:0;
            .bootstrap-switch-handle-on,
            .bootstrap-switch-handle-off
            {
                border-radius:0px;
            }
        }
        .bootstrap-switch-wrapper.bootstrap-switch-off{
            .bootstrap-switch-handle-on{

            }
            .bootstrap-switch-handle-on{

            }
        }
        .bootstrap-switch-wrapper.bootstrap-switch-on{
            .bootstrap-switch-handle-on{
                background-color:green;
            }
            .bootstrap-switch-handle-on{
                border:solid 1px green;
            }
        }
        
    }

    li:first-child {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .watchzone-item {
        padding: 3px 15px 3px 15px;

        .inner {
            width: 100%;

            img {
                margin-right: 20px;
            }

            .actions {
                a {
                    display: inline-block;
                    width: 30px;
                }
                .toggle-notification-wrapper{

                }
            }
        }
    }
}

.watchzone-popup {
    .panel-body {
        padding: 30px 25px 25px 25px;
    }

    .panel-footer {
        display: none;
    }

    .btn-submit {
        border-radius: 0;
        border: none;
        width: 100%;
        background-color: #555555;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        font-size: 22px;
        height: 40px;
        padding-top: 5px !important;

        @media(min-width: $BREAK_SML) {
            height: 50px;
            padding-top: 10px;
        }
        &:hover{
            background-color: #343434;
        }
    }
}

.watchzone-editor {
    .panel-body {
        .input-lg {
            border-radius: 0;
            background-color: #e7e7e7;
            color: #000;
            border: none;
        }

        .has-error {
            span.with-errors {
                color: red;
            }
        }

        .input-slider {
            width: 100%;
        }

        .slider-wrapper {
            margin-top: 35px;

            .slider-track {
                background: #e7e7e7;
                border-radius: 0;
            }

            .slider-selection {
                position: absolute;
                background: #0066cb;
                border-radius: 0px;
            }
            .slider .tooltip.top{
                margin-top:-30px;
            }
            .slider-handle {
                background: #0066cb;
                display:none;
                cursor:pointer;
            }

            .tooltip-arrow {
                border-top-color: #0066cb;
            }

            .tooltip-inner {
                background-color: #0066cb;
                border-radius: 0;
                cursor:pointer;
            }
        }

        .slider-horizontal {
            width: 100%;
        }

        #cancel-watch-zone-process-btn {
            line-height: 30px;
            text-align: center;
            width: 100%;
            display: block;
            color: red;
        }
    }

    .visible-wz-created {
        display: none;
    }

    .visible-on-edit {
        display: none;
    }
}


.watchzone-editor-created {
    .visible-wz-created {
        display: block !important;
    }

    .visible-wz-new {
        display: none;
    }
}

.watchzone-editor-update {
    .visible-on-edit {
        display: block;
    }

    .hidden-on-edit {
        display: none;
    }

    .notificaiton-setting-panel {
        margin-bottom: 20px;

        span {
            display: inline-block;
            padding-top: 10px;
        }
    }

    #update-watch-zone-btn {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .watch-zone-popup-delete-btn {
        margin: 10px 0px;
    }
}
