@import '_constants.scss';

#watchzone-list,
#xs-watchzone-list {
    width: 100%;
    padding-bottom: 25px;
    top: 46px;
    border-radius: 0;
    border: none;
    background-color: #f1f0ee;
    overflow: auto;
    height: auto;
    list-style: none;
    list-style-type: none;

    @media(min-width: 992px) {
        width: 330px;
   } 

    li {
        width: 100%;
        float: left;
        padding-right:15px;
    }

    li:first-child {
        padding: 0px 15px 0px 15px;
        margin-bottom: 10px;

        &:focus {
            outline: none;
        }

        a {
            line-height: 40px;
            border-bottom: solid 1px #b8b7b6;
            padding-right: 0px;
            padding-left:0px;
            &:focus {
                outline: none;
                background:none;
            }

            img {
                float: right;
                margin-top: 15px;
            }
        }

        hr {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .watchzone-item {
        padding: 3px 15px 3px 15px;
        .inner {
            width: 100%;

            a {
                color: #000;
                text-decoration: none;

                &:hover, &:visited, &:focus {
                    color: #000;
                    text-decoration: none;
                }
            }

            .icon {
                margin-right: 5px;
                float: left;
            }

            .actions {
                width: 75px;

                a {
                    display: inline-block;
                    float: right;
                }

                .toggle-notification-wrapper {
                    float: left;
                    >div{
                        padding-right:10px;
                    }
                }
            }

            .watchzone-name {
                max-width: 135px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                float: left;
                padding-left:5px;
                @media(min-width: $BREAK_SML) {
                    max-width: 160px;
                }
            }
        }
    }
}

#xs-watchzone-list {
    background-color: #fff;
    padding: 0px;
    li {
        padding: 0px;
    }

    li.watchzone-item {
        padding-left: 5px;
        padding-right:0px;
        span {
            color: #000;
        }
    }

    li:first-child {
        padding:0px;
        a {
            width: 100%;
            display: block;
            color: #000;
            img {
                float: right;
            }
        }
    }
}

#watchZoneModal {
    .modal-dialog {
        border-radius: 0px;

        .modal-content {
            border-radius: 0px;

            .modal-header {
                .modal-title {
                    font-size: 20px;
                    font-weight: bold;
                }

                .close {
                    opacity: 1;
                }
            }

            .modal-body {
                padding-top:0px;
                @media(min-width: $BREAK_SML) {
                    padding-top: 15px;
                }
            }
        }
    }
}

.watchzone-popup {
    .panel-body {
        padding: 45px 25px 25px 25px;

        @media( min-width: $BREAK_SML) {
            padding: 30px 25px 25px 25px;
        }
    }

    .panel-footer {
        display: none;
    }

    .btn-submit {
        border-radius: 0;
        border: none;
        width: 100%;
        background-color: #555555;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        font-size: 18px;
        height: 40px;


        @media(min-width: $BREAK_SML) {
            height: 50px;
            padding-top: 10px;
            font-size: 22px;
            padding-top: 5px !important;
        }

        &:hover {
            background-color: #343434;
        }
    }
}

.watchzone-editor {
    .panel-body {
        .input-lg {
            border-radius: 0;
            background-color: #e7e7e7;
            color: #000;
            border: none;
            height: 40px;
            &:focus{
                outline:none;
                box-shadow:none;
               -webkit-box-shadow:none;
            }
            @media(min-width: $BREAK_SML) {
                height: 50px;
            }
        }

        .has-error {
            span.with-errors {
                color: red;
            }
        }

        .input-slider {
            width: 100%;
        }

        .slider-wrapper {
            margin-top: 35px;

            .slider-track {
                background: #e7e7e7;
                border-radius: 0;
            }

            .slider-selection {
                position: absolute;
                background: #0066cb;
                border-radius: 0px;
            }

            .slider .tooltip.top {
                margin-top: -30px;
            }

            .slider-handle {
                background: #0066cb;
                display: none;
                cursor: pointer;
            }

            .tooltip-arrow {
                border-top-color: #0066cb;
            }

            .tooltip-inner {
                background-color: #0066cb;
                border-radius: 0;
                cursor: pointer;
            }
        }

        .slider-horizontal {
            width: 100%;
        }

        .button-wrapper {
            padding-top: 15px;

            > div {
                width: 50%;

                button,
                a {
                    width: 100%;
                    &:focus{
                        outline:none;
                    }
                }
            }

            .left-button {
                padding-right: 8px;
            }

            .right-button {
                padding-left: 8px;
                .notification-setting-link{
                    text-align:right;
                }
            }

            .accept-button,
            .decline-button {
                width: 100%;
                float: left;
                border: none;
                background-color: #0358ab;
                display: block;
                height: 40px;
                color: #fff;
                font-size: 18px;
                text-align: center;
                line-height: 40px;
                text-decoration: none;

                @media (min-width: $BREAK_SML) {
                    font-size: 22px;
                    height: 50px;
                    line-height: 50px;
                }

                &:hover {
                    background-color: #0066cb;
                }
            }

            .decline-button {
                background-color: #cd3333;
                display: block;

                &:hover {
                    background-color: #fe0034;
                }
            }
        }

        ::-webkit-input-placeholder {
            color: #000;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: #000;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: #000;
        }

        :-ms-input-placeholder {
            color: #000;
        }
    }

    .visible-wz-created {
        display: none;
    }

    .visible-on-edit {
        display: none;
    }
}

.watchzone-editor-created {
    .visible-wz-created {
        display: block !important;
    }

    .visible-wz-new {
        display: none;
    }

    #zw-created-name {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: bold;
        max-width: 100%;
        xtext-overflow: ellipsis;
        xwhite-space: normal;
        xoverflow: hidden;
        word-wrap: break-word;

        @media(min-width: $BREAK_SML) {
            font-size: 18px;
        }
    }

    .watch-zone-name {
        word-wrap:break-word;
    }
}

.watchzone-editor-update {
    .visible-on-edit {
        display: block;
    }

    .hidden-on-edit {
        display: none;
    }
    .quick-links{
        margin-top:15px;
        margin-bottom: 5px;
        overflow:auto;
        height:auto;
        a{
            width:initial;
            margin-right:10px;
            color: #000;
        }
    }
    .notificaiton-setting-panel {
        margin-bottom: 20px;

        span {
            display: inline-block;
            padding-top: 10px;
        }
    }

    .edit-buttons {
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: auto;
        height: auto;

        button {
            width: 114px;
            font-size: 14px;

            @media(min-width: $BREAK_SML) {
                font-size: 15px;
            }
        }

        a {
            color: #000;
            text-decoration: none;
        }
    }

    .watch-zone-popup-delete-btn {
        margin: 10px 0px;
        span{
            padding-top:5px;
            color: #000;
        }
    }
}

.watch-zone-item-trigger {
    cursor: pointer;
}
.watchzone-viewer{
    .panel-body{
        padding-top:15px;
        h2{
            margin-top:0px;
            max-width: 100%;
            xoverflow: hidden;
            xtext-overflow: ellipsis;
            word-wrap:break-word;
        }
        .buttons{
            margin-top:10px;
            margin-bottom:10px;
            overflow: auto;
            height:auto;
            a{
                color: #000;
            }
        }
    }
}
.emv-small-switch{
    .bootstrap-switch-container {
    }
    .bootstrap-switch-on {
        border: solid 1px #67ca4b;
    }

    .bootstrap-switch-off {
        border: solid 1px #c3c3c3;
    }

    .bootstrap-switch-wrapper {
        border-radius: 0;

        .bootstrap-switch-handle-on,
        .bootstrap-switch-handle-off {
            border-radius: 0px;
        }
    }

    .bootstrap-switch-wrapper.bootstrap-switch-off {
        .bootstrap-switch-handle-off {
            background-color: #c3c3c3;
        }

        .bootstrap-switch-handle-off {
        }
    }

    .bootstrap-switch-wrapper.bootstrap-switch-on {
        .bootstrap-switch-handle-on {
            background-color: #67ca4b;
        }
    }

    .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
    .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
    .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
      padding: 1px 2px;
      font-size: 10px;
      line-height: 1.3;
    }
}

