@import '_constants.scss';

#watchzone-list,
#xs-watchzone-list {
    width: 100%;
    padding-bottom:50px;
    top:46px;
    border-radius:0;
    border : none;
    background-color: #f1f0ee;
    overflow:auto;
    height:auto;
    list-style:none;
    list-style-type:none;
    @media(min-width: $BREAK_SML) {
        width:330px;
    }

    li {
        width: 100%;
        float: left;
        .bootstrap-switch-on {
            border: solid 1px #67ca4b;
        }
        .bootstrap-switch-off {
            border: solid 1px #c3c3c3;
        }
        .bootstrap-switch-wrapper{
            border-radius:0;
            .bootstrap-switch-handle-on,
            .bootstrap-switch-handle-off
            {
                border-radius:0px;
            }
        }
        .bootstrap-switch-wrapper.bootstrap-switch-off{
            .bootstrap-switch-handle-off{
                background-color: #c3c3c3;
                xborder:solid 1px #c3c3c3;
            }
            .bootstrap-switch-handle-off{

            }
        }
        .bootstrap-switch-wrapper.bootstrap-switch-on{
            .bootstrap-switch-handle-on{
                background-color:#67ca4b;
                xborder:solid 1px #67ca4b;
            }
        }
        
    }

    li:first-child {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .watchzone-item {
        padding: 3px 3px 3px 15px;

        .inner {
            width: 100%;
            .icon{
                margin-right:10px;
                float:left;
            }
            .actions {
                width:101px;
                a {
                    display: inline-block;
                    float:right;
                }
                .toggle-notification-wrapper{
                    float:left;
                    padding-right:10px;
                }
            }
        }
    }
}
#xs-watchzone-list {
    background-color:#fff;
    padding: 0px;
    li{
        padding:0px;
    }
    li.watchzone-item{
        padding-left:5px;
        span{
            color: #000;
        }
    }
    li:first-child {
        padding-top: 10px;
        padding-bottom: 10px;
        a{
            width:100%;
            display:block;
            img{
                float:right;
            }
        }
    }
}
#watchZoneModal{
    .modal-dialog{
        border-radius:0px;
        .modal-content{
            border-radius:0px;
            .modal-header{
                .modal-title{
                    font-size:20px;
                    font-weight:bold;
                }
                .close{
                    opacity:1;
                }
            }
            .modal-body{

            }
        }
    }
}
.watchzone-popup {
    .panel-body {
        padding: 45px 25px 25px 25px;
        @media( min-width: $BREAK_SML) {
            padding: 30px 25px 25px 25px;
        }
    }

    .panel-footer {
        display: none;
    }

    .btn-submit {
        border-radius: 0;
        border: none;
        width: 100%;
        background-color: #555555;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        font-size: 18px;
        height: 40px;
        

        @media(min-width: $BREAK_SML) {
            height: 50px;
            padding-top: 10px;
            font-size:22px;
            padding-top: 5px !important;
        }
        &:hover{
            background-color: #343434;
        }
    }
}
.watchzone-editor {
    .panel-body {
        .input-lg {
            border-radius: 0;
            background-color: #e7e7e7;
            color: #000;
            border: none;
            height:40px;
            @media(min-width: $BREAK_SML) {
                height: 50px;
            }
        }

        .has-error {
            span.with-errors {
                color: red;
            }
        }

        .input-slider {
            width: 100%;
        }

        .slider-wrapper {
            margin-top: 35px;

            .slider-track {
                background: #e7e7e7;
                border-radius: 0;
            }

            .slider-selection {
                position: absolute;
                background: #0066cb;
                border-radius: 0px;
            }
            .slider .tooltip.top{
                margin-top:-30px;
            }
            .slider-handle {
                background: #0066cb;
                display:none;
                cursor:pointer;
            }

            .tooltip-arrow {
                border-top-color: #0066cb;
            }

            .tooltip-inner {
                background-color: #0066cb;
                border-radius: 0;
                cursor:pointer;
            }
        }

        .slider-horizontal {
            width: 100%;
        }
       
        #cancel-watch-zone-process-btn {
            line-height: 30px;
            text-align: center;
            width: 100%;
            display: block;
            color: red;
        }
    }

    .visible-wz-created {
        display: none;
    }

    .visible-on-edit {
        display: none;
    }
}
.watchzone-editor-created {
    .visible-wz-created {
        display: block !important;
    }

    .visible-wz-new {
        display: none;
    }
}
.watchzone-editor-update {
    .visible-on-edit {
        display: block;
    }

    .hidden-on-edit {
        display: none;
    }

    .notificaiton-setting-panel {
        margin-bottom: 20px;

        span {
            display: inline-block;
            padding-top: 10px;
        }
    }

     .edit-buttons{
         margin-top: 10px;
         margin-bottom: 10px;
         overflow:auto;
         height:auto;
         button{
             width:114px;
             font-size:14px;
             @media(min-width: $BREAK_SML) {
                font-size:15px;
             }
         }
         a{
             color:#000;
             text-decoration:none;
         }
     }

    .watch-zone-popup-delete-btn {
        margin: 10px 0px;
    }
}
