<div class="layername-label-control">
    <span class="sr-only">Close map layer instruction</span>
    <img class="icon-media-cross_white close" alt="Close" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">

    <a id="layer_name">{{#if displayName}}{{displayName}}{{else}}{{name}}{{/if}}  </a>
    <p>{{description}}</p>
</div>