<ul class="fdr-map-control breadcrumb">
    <li><a filterName="Fire Danger Rating Today">Today</a></li>
    <li><a filterName="Fire Danger Rating Tomorrow">Tomorrow</a></li>
    <li><a filterName="Fire Danger Rating next 2 days">{{next2Days}}</a> </li>
    <li><a filterName="Fire Danger Rating next 3 days">{{next3Days}}</a></li>
</ul>