<li class="filter filter-thematic" data-category="{{name}}">
    <label>
        <input class="no-emphasis" name="thematic{{unique}}" value="{{name}}" type="radio">&nbsp;{{name}}&nbsp;&nbsp;
    </label>
</li>
