<div class="fb-page" data-href="https://www.facebook.com/{{facebook_page}}" 
     data-tabs="timeline" 
     data-small-header="true" 
     data-adapt-container-width="true" 
     data-hide-cover="true"
     data-show-facepile="true"
     data-width="{{container_width}}"
     >
    <div class="fb-xfbml-parse-ignore">
        <blockquote cite="https://www.facebook.com/vicemergency">
            <a href="https://www.facebook.com/vicemergency">Vic Emergency</a>
        </blockquote>
    </div>
</div>