<div class="resend-validation-message-wrapper">
    <strong>
        You have not validated the email address used to created your account.
        <br />
        <br />
        Please click below to resend the email for validation.
    </strong>
    <br />
    <br />
    <br />
    <div class="resend-validation-message-button">
        <button id="resend-validation-email" class="message-box-confirm emv-black-button">Resend Validation Email</button>
        <div class="resend-validation-email-close-wrapper">
            <button id="resend-validation-email-close" class="message-box-close emv-black-button" data-dismiss="modal">Close</button>

        </div>
    </div>
</div>
