<div class="ask-slow-connection">
    <div class="header"><div class="control"><a href="#" class="closer">×</a></div></div>
    <div class="footer">
        <img class="emv-logo" src="images/logos/VicEmergencyLogo.png" alt="VicEmergency">
        <img class="icon-controls-vic_gov_logo" alt="State Government of Victoria, Australia" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
    </div>
    <div class="message">
        <div class="spinner-container"><img class="small" src="images/animated/Loading-000000-FFFFFF-32.gif" alt="spinner..." /></div>
        <div class="too-slow">SLOW CONNECTION?</div>
        <div>Try the <a href="/public/textonly.html">text only</a> version<br>for quicker loading.</div>
    </div>
</div>
