{{#if result}}
<div class="message-success">
    <p>
        You password has been updated. You now can setup and manage your Watch zones
    </p>
</div>
<br />
<br />

<a href="./respond" class="btn btn-submit">Create Watch Zones</a>
{{/if}}

{{#if error}}
<div class="message-error">
    <h4>Error!</h4>
    <p>
        This password reset session has expired. Please start the change password process again.
    </p>
</div>
<br />
<br />

<a href="./respond?login=1" class="emv-black-button btn-submit">Login</a>


{{/if}}

