<div class="search-pin-popup">
    <div class="search-label">{{label}}   </div>
<div class=" search-create-watchzone visible-authenticated">
    <a id="search-create-watch-zone-btn" lng="{{latlng.lng}}" lat="{{latlng.lat}}">
        <img alt="Watch Zone" class="icon-controls-watchzone" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
    </a>
</div>
</div>