<div class="search-pin-popup">
    <div class="search-label">{{label}}   </div>
<div class=" search-create-watchzone">
    <a id="search-create-watch-zone-btn" lng="{{latlng.lng}}" lat="{{latlng.lat}}">
        <img src="./images/app-icons/watchzone.png"/>
    </a>
</div>
</div>