<!--
    <h3><a class="external" href=""></a></h3>
    <p></p>
-->

<div class="item">
    <a name="feedback"></a>
    <h1>Feedback</h1>
    <p>VicEmergency provides one source of information and advice to help people prepare for, respond to, and recover from emergencies. The site is being developed in phases and more content will be added over the coming year.</p>
    <p>Your feedback on VicEmergency is encouraged - there's going to be updates and improvements to the website and it's important that this is based on community input.</p>
    <p>Please email us at <a href="mailto:feedback@emergency.vic.gov.au">feedback@emergency.vic.gov.au</a>.</p>
</div>

<div class="jump-to-top">
    <a href="#top"><i class="fa fa-angle-left"></i> Back</a>
</div>

