<!--
    <h3><a class="external" href=""></a></h3>
    <p></p>
-->

<div class="item">
    <a name="accessibility"></a>
    <p>View the text only version of <a href="/public/textonly.html">VicEmergency</a>.</p>
    <h1>Accessibility</h1>
    <p>We are committed to ensuring that our online information is accessible as possible. VicEmergency is being developed to meet the full accessibility compliance with all Level AA checkpoints of the W3C Web Content Accessibility Guidelines. The <a href="/public/textonly.html">text only</a> site is also available to improve accessibility to incident and warning information.</p>
    <p>VicEmergency is also designed to be accessed by various device types including tablets and smartphones.</p>
</div>

<div class="item">
    <a name="general-web-accessibility-information"></a>
    <h2>General web accessibility information</h2>
    <p>Many tools exist to help people with a disability access the internet. These tools are defined as either 'hardware' or 'software'.</p>
</div>

<div class="item">
    <a name="hardware-tools"></a>
    <h2>Hardware tools</h2>
    <p>Various hardware tools exist that help people with disabilities to use a computer.</p>
    <p><a class="external" href="http://idrc.ocad.ca/">Refreshable braille displays</a> help blind people to read a computer screen line by line.</p>
    <p><a class="external" href="http://www.rjcooper.com/sam-joystick/">Joysticks and trackballs</a> help people with motor disabilities to use a computer mouse.</p>
    <p>Alternative keyboards with limited keys can help people with motor disabilities to use a computer keyboard. These include <a class="external" href="http://en.wikipedia.org/wiki/Datahand">keyboards manipulated by fingers</a> and <a class="external" href="http://www.magicwandkeyboard.com/">keyboards manipulated using a head-wand</a>.</p>
</div>

<div class="item">
    <a name="software"></a>
    <h2>Software</h2>
    <p>Software tools can also help computer users interact with computers in ways that best suit them.</p>
    <p>Screen reader programs such as <a class="external" href="http://www.freedomscientific.com/products/fs/jaws-product-page.asp">JAWs</a> and <a class="external" href="http://www.gwmicro.com/Window-Eyes/">Window-Eyes</a> can convert a website into a braille display or convert it to audio for people who are blind, visually impaired or have dyslexia.</p>
    <p>Screen magnifier programs magnify sections of a computer screen for people with vision impairments. See <a class="external" href="http://windows.microsoft.com/en-US/Windows7/Make-items-on-the-screen-appear-bigger-Magnifier">Windows Screen Magnifier</a>.</p>
    <p>Oversized cursor software can help people with vision impairments use a computer cursor. See <a class="external" href="http://www.rjcooper.com/biggy/">Biggy</a> cursors.</p>
    <p><a class="external" href="http://www.rjcooper.com/onscreen/index.html">On-screen keyboards</a> combined with switching devices can help people with motor disabilities to use a computer keyboard.</p>
    <p>Programs that slow down applications can assist people with motor disabilities. See <a class="external" href="http://www.cpukiller.com/">CPU Killer</a>.</p>
</div>

<div class="item">
    <a name="internet-browser-support"></a>
    <h2>Internet browser support</h2>
    <p>Ensure you are using a recent version of your preferred browser.</p>
    <ul>
        <li><a class="external" href="http://www.google.com/chrome/intl/en/landing_chrome.html">Chrome</a></li>
        <li><a class="external" href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a></li>
        <li><a class="external" href="http://support.apple.com/downloads/#safari">Safari</a></li>
        <li>Internet Explorer</li>
    </ul>
</div>

<div class="item">
    <a name="browser-shortcuts"></a>
    <h2>Browser Shortcuts</h2>
    <p>You may be required or prefer to use keyboard shortcuts to interact with your preferred internet browser. Links to short cut information pages for common browsers have been include below.</p>
    <p>Chrome - <a class="external" href="https://support.google.com/chrome/answer/157179?hl=en">Windows keyboard shortcuts</a></p>
    <p>Chrome - <a class="external" href="https://support.google.com/chrome/answer/165450?hl=en">Mac keyboard shortcuts</a></p>
    <p>Safari - <a class="external" href="http://mac.keyboard-shortcuts.eu/en/safari/">Mac keyboard shortcuts</a></p>
    <p>Internet Explorer - <a class="external" href="http://windows.microsoft.com/en-AU/internet-explorer/ie-keyboard-shortcuts#ie=ie-11">Windows keyboard shortcuts</a></p>
    <p>Further information regarding shortcuts can be found <a class="external" href="http://en.wikipedia.org/wiki/Table_of_keyboard_shortcuts">here</a></p>
</div>

<div class="item">
    <a name="acknowledgements"></a>
    <h2>Acknowledgements</h2>
    <p>The information has been sourced from:</p>
    <ul>
        <li><a class="external" href="http://www.justice.vic.gov.au/">Department of Justice, Victoria</a></li>
        <li><a class="external" href="http://www.business.vic.gov.au/industries/information-and-communication-technology/home">Multimedia Victoria - Business</a></li>
        <li>The websites of the various commercial browsers</li>
    </ul>
</div>

<div class="jump-to-top">
    <a href="#top"><i class="fa fa-angle-left"></i> Back</a>
</div>

