<!--
    <h3><a class="external" href=""></a></h3>
    <p></p>
-->

<div class="item">
    <a name="privacy"></a>
    <h1>Privacy</h1>
    <p>The VicEmergency (<a href="http://emergency.vic.gov.au">emergency.vic.gov.au</a>) site is a centralised access point for emergency incident and management information prepared by the government of the State of Victoria, Australia (here referred to as "the Victorian Government").</p>
    <p>The website is operated by Emergency Management Victoria. This is a website with links to external websites.</p>
</div>

<div class="item">
    <a name="application-of-this-privacy-statement"></a>
    <h2>Application of this Privacy Statement</h2>
    <p>This privacy statement applies only to the VicEmergency site website and not to any websites to which the VicEmergency site provides a link.</p>
</div>

<div class="item">
    <a name="use-and-disclosure-of-personal-information"></a>
    <h2>Use and Disclosure of Personal Information</h2>
    <p>The VicEmergency site may be enabled to allow for your feedback and/or comments. If so, the VicEmergency site may request your personal information for the purposes of responding to your feedback and comments. The purpose for collecting personal information is to provide feedback and answer queries that you have in respect of the site or the information you are trying to obtain and we will only use and/or disclose the information for these purposes.</p>
    <p>Any personal information that is collected by the VicEmergency site will be used by and disclosed to Victorian Government employees or contractors whose duties require them to use it. Such employees and contractors are required to protect and handle your personal information in accordance with the Information Privacy Act 2000 (Vic), which can be accessed <a class="external" href="http://www.legislation.vic.gov.au/Domino/Web_Notes/LDMS/PubLawToday.nsf/a12f6f60fbd56800ca256de500201e54/cd652e34a04da6c2ca257505007ce686!OpenDocument">here</a> in both PDF and Word format (under Use and Disclosure of Personal Information).</p>
</div>

<div class="item">
    <a name="collection-of-personal-information"></a>
    <h2>Collection of Personal Information</h2>
    <p>The VicEmergency site can be used anonymously.</p>
    <p>However, for some functions the collection of personal information may be necessary, for example, to advise you when information requested by you is available for download, or unavoidable.</p>
    <p>You will know if www.emergency.vic.gov.au is collecting personal information from you because you will be requested to provide it.</p>
    <p>The exception is where someone else provides your personal information. We cannot prevent this. However, you are entitled to access and correct any personal information about you collected by the VicEmergency site.</p>
    <p>The second exception is where we collect statistics using software techniques such as web server log file analysis, cookies and web beacons. Such statistics may qualify as personal information under the Information Privacy Act 2000 (Vic). However, these statistics are not used to identify individual users of this website.</p>
</div>

<div class="item">
    <a name="internet-use-risk"></a>
    <h2>Internet Use Risk</h2>
    <p>You should be aware that there are risks in transmitting information across the Internet. However, Emergency Management Victoria takes reasonable steps to protect any personal information from unauthorised access once that personal information comes into its possession.</p>
</div>

<div class="item">
    <a name="linking"></a>
    <h2>Linking</h2>
    <p>This website contains hyperlinks to pages contained on other government and non-government websites. Unless otherwise indicated, emergency.vic.gov.au:</p>
    <ul>
        <li>does not endorse or authorise the content of any other website; and</li>
        <li>assumes no responsibility or liability for the condition or content of any other website or for the operation or function of any service or facility offered on any other website.</li>
    </ul>
</div>

<div class="item">
    <a name="web-server-log-files"></a>
    <h2>Web Server Log Files</h2>
    <p>The VicEmergency site uses standard web analytics software packages to analyse its web server log files to track web site usage. This analysis provides general data including number of visits, unique visits, pages viewed, browser type, how the site is navigated, search terms used, the sections of the website visited and other website usage information without identifying individual users.</p>
</div>

<div class="item">
    <a name="web-measurement-services-used"></a>
    <h2>Web measurement services used</h2>
    <p>Google Analytics - Use of Cookies</p>
    <p>Google Analytics uses a first-party cookie and JavaScript code to collect information about visitors to <a href="http://www.emergency.vic.gov.au">www.emergency.vic.gov.au</a>. Google Analytics anonymously tracks how our visitors interact with this website, including where they came from, what they did on the site, and whether they completed any transactions on the site such as newsletter registration.</p>
</div>

<div class="item">
    <a name="data-collection"></a>
    <h2>Data Collection</h2>
    <p>While the anonymous statistical data the VicEmergency site collects may be aggregated and used in broader statistical analysis by the State of Victoria, at no time can we personally identify you as the source of that data.</p>
</div>

<div class="jump-to-top">
    <a href="#top"><i class="fa fa-angle-left"></i> Back</a>
</div>

