<!--
    <h3><a class="external" href=""></a></h3>
    <p></p>
-->

<div class="item">
    <a name="emergency-relief-and-recovery-victoria"></a>
    <h2>Emergency Relief and Recovery Victoria</h2>
    <div class="image-container"><img src="images/logos/reliefandrecovery.gif"></div>
    <p>The Emergency Relief and Recovery Victoria website offers practical emergency relief and recovery information to help you during and after a major emergency.</p>
    <p>Here you'll find information about emergency relief centres run by your local council, offering emergency shelter, basic food and water, first aid, psycho-social support, care for your pets and companion animals, and emergency financial assistance to eligible households.</p>
    <p>You can also access a range of longer-term community recovery services and initiatives.</p>
    <p><a class="external" href="http://www.recovery.vic.gov.au/">Visit the Emergency Relief and Recovery site</a></p>

</div>

<div class="item">
    <a name="who-can-help"></a>
    <h2>Who can help?</h2>
    <p><a class="external" href="http://www.esta.vic.gov.au/None/EmergencyVic+Landing+Page">Triple Zero (000) Emergency</a></p>
    <p>Triple Zero (000) should be called when police, fire or ambulance attendance is needed in a life-threatening or time critical situation.</p>
    <p>Be prepared to describe your location as accurately as possible. Your mobile phone only shows call-takers your billing address, not your current GPS location.</p>
    <p>1300 799 232 – Victorian Emergency Recovery Information Line</p>
    <p>Call this number for current information and referrals for a range of emergency relief and recovery services supporting those affected by a major event.</p>
</div>

<div class="item">
    <a name="after-a-fire"></a>
    <h2>After a fire</h2>
    <p><a class="external" href="http://www.health.vic.gov.au/environment/bushfires-be-safe.htm">Returning home after a fire</a></p>
    <p>Houses, sheds and other buildings burnt in a bushfire can be dangerous. Hazardous materials may also be present. See also: Red Cross <a class="external" href="http://redcross.org.au/returning-home-after-a-bushfire.aspx">Returning home after a bushfire</a></p>
    <p><a class="external" href="http://www.health.vic.gov.au/emergency/natural-disasters.htm">Your health after an emergency</a></p>
    <p>Your own health and safety can be at risk after an emergency. Here's what to be aware of.</p>
    <p><a class="external" href="http://www.health.vic.gov.au/environment/bushfires-cleaning-smoke-home.htm">Cleaning up a smoke-affected home</a></p>
    <p>If your home has been damaged by the fire or smells of smoke from bushfires, here's what you should do.</p>
    <p><a class="external" href="http://www.health.vic.gov.au/environment/bushfires-ash.htm">Ash from CCA treated timber is dangerous</a></p>
    <p>Copper chrome arsenate (CCA) is a wood preservative. Freshly treated CCA timber may pose a health hazard after a fire.</p>
    <p><a class="external" href="http://www.health.vic.gov.au/environment/bushfires-private-water-sources.htm">Your water source may be contaminated</a></p>
    <p>If your area is affected by bushfires, your water source could become contaminated from debris, ash or small dead animals. Here's how to reduce your risk.</p>
    <p><a class="external" href="http://www.health.vic.gov.au/environment/bushfires-power-blackouts.htm">Using alternative power sources safely</a></p>
    <p>When power outages occur, people often turn to alternative sources of fuel or electricity. Here's how to stay safe.</p>
    <p><a class="external" href="http://www.health.vic.gov.au/environment/bushfires-fire-retardants.htm">Fire retardants and your health</a></p>
    <p>Fire retardants help firefighters on the ground and are sometimes dropped from aircraft. Here's what you need to know.</p>
</div>

<div class="item">
    <a name="financial-and-emotional-assistance"></a>
    <h2>Financial & emotional assistance</h2>
    <p><a class="external" href="http://www.dhs.vic.gov.au/for-individuals/crisis-and-emergency/financial-crisis-support/personal-hardship-assistance-program">Personal Hardship Assistance Program</a></p>
    <p>The Personal Hardship Assistance Program (PHAP) provides financial assistance to alleviate personal hardship and distress suffered by eligible Victorians as a result of an emergency.</p>
    <p><a class="external" href="http://www.betterhealth.vic.gov.au/bhcv2/bhcarticles.nsf/pages/Trauma_-_reaction_and_recovery">Trauma – reaction and recovery</a></p>
    <p>It is normal to have strong emotional or physical reactions after an emergency – these feelings are part of the healing process. Here are some strategies for coping.</p>
    <p><a class="external" href="http://www.betterhealth.vic.gov.au/bhcv2/bhcarticles.nsf/pages/Trauma_and_families_tips_for_parents">Trauma and families – tips for parents</a></p>
    <p>In families, each person reacts in their own way after an emergency. Understanding each other and some of the common reactions to look out for can help your family.</p>
</div>

<div class="jump-to-top">
    <a href="#top"><i class="fa fa-angle-left"></i> Back</a>
</div>

