<div class="item">
    <h1>Survive the heat</h1>
    <p>Heat kills more Australians than any other natural disaster.  Know the effects of extreme heat, who is at risk and how you can prepare yourself and others.</p>
    <p>During extreme heat it is easy to become dehydrated or for your body to overheat. If this happens, you may develop heat cramps, heat exhaustion or even heatstroke. Heatstroke is a medical emergency which can result in permanent damage to your vital organs, or even death, if not treated immediately.</p>
</div>

<div class="item">
    <a name="who-is-at-risk"></a>
    <h2>Who is most at risk from extreme heat</h2>
    <p>Extreme heat can affect anybody however the people most at risk:</p>
    <ul>
        <li>are aged over 65 years, especially those living alone</li>
        <li>have a medical condition such as diabetes, kidney disease or mental illness </li>
        <li>are taking medications that may affect the way the body reacts to heat such as: </li>
            <ul>
                <li>allergy medicines (antihistamines)</li>
                <li>blood pressure and heart medicines (beta-blockers)</li>
                <li>seizure medicines (anticonvulsants)</li>
                <li>water pills (diuretics)</li>
                <li>antidepressants or antipsychotics</li>
            </ul>
        <li>have problematic alcohol or drug use</li>
        <li>have a disability</li>
        <li>have trouble moving around such as those who are bed bound or in wheelchairs</li>
        <li>pregnant women and breastfeeding mothers</li>
        <li>babies and young children</li>
        <li>are overweight or obese</li>
        <li>work or exercise outdoors</li>
        <li>have recently arrived from cooler climates.</li>
    </ul>
</div>

<div class="item">
    <a name="how-to-prepare"></a>
    <h2>How to prepare for extreme heat</h2>
    <p>There are simple steps you can take to prepare for days of extreme heat.</p>
    <ul>
        <li>Stock up on food, water and medicines so you don’t have to go out in the heat. Visit your doctor to check if changes are needed to your medicines during extreme heat.</li>
        <li>Store medicines safely at the recommended temperature.</li>
        <li>Check that your fan or air-conditioner works well. Have your air-conditioner serviced if necessary.</li>
        <li>Look at the things you can do to make your home cooler such as installing window coverings, shade cloths or external blinds on the sides of the house facing the sun.</li>
        <li>Register to <a class="external" href="http://www.health.vic.gov.au/subscribe">receive heat health alerts</a>.  You will be sent an email requesting confirmation of your subscription. Please confirm your subscription to ensure you receive alerts.</li>
    </ul>
</div>

<div class="item">
    <a name="tips-to-surviving-the-heat"></a>
    <h2>Tips to surviving the heat</h2>
    <p>During extreme heat it is easy to become dehydrated or for your body to overheat. If this happens, you may develop heat cramps, heat exhaustion or even heatstroke. Heatstroke is a medical emergency which can result in permanent damage to your vital organs, or even death, if not treated immediately.</p>
    <p>There are steps you can take to survive the heat:</p>
    <ul>
        <li>Drink plenty of water, even if you don’t feel thirsty (if your doctor normally limits your fluids, check how much to drink during hot weather).</li>
        <li>Keep yourself cool by using wet towels, putting your feet in cool water and taking cool (not cold) showers.</li>
        <li>Spend as much time as possible in cool or air-conditioned buildings (shopping centres, libraries, cinemas or community centres).</li>
        <li>Block out the sun at home during the day by closing curtains and blinds.</li>
        <li>Open the windows when there is a cool breeze.</li>
        <li>Stay out of the sun during the hottest part of the day.</li>
        <li>Cancel or postpone outings. If you absolutely must go out, stay in the shade and take plenty of water with you.</li>
        <li>Wear a hat and light-coloured, loose-fitting clothing made from natural fibres like cotton and linen.</li>
        <li>Eat smaller meals more often and cold meals such as salads.</li>
        <li>Make sure food that needs refrigeration is properly stored.</li>
        <li>Avoid heavy activity like sport, renovating and gardening.</li>
        <li>Watch or listen to news reports to find out more information during extreme heat.</li>
    </ul>
</div>

<div class="item">
    <a name="how-you-can-help-others"></a>
    <h2>How you can help others</h2>
    <p>Extreme heat can affect anybody however there are people who are more at risk including people aged over 65 years, especially those living along, pregnant women and breastfeeding mothers and babies and young children.</p>
    <p>There are things you can do to help others during extreme heat.</p>
    <ul>
        <li>Keep in touch with sick or frail friends and family. Call them at least once on any extreme heat day.</li>
        <li>Encourage them to drink plenty of water.</li>
        <li>Offer to help family, friends and neighbours who are aged over 65 or have an illness by doing shopping or other errands so they can avoid the heat. Take them somewhere cool for the day or have them stay the night if they are unable to stay cool in their home.</li>
        <li>If you observe symptoms of heat-related illness, seek medical help.</li>
    </ul>
</div>

<div class="item">
    <a name="recognising-heat-related-illnesses"></a>
    <h2>Recognising heat-related illnesses</h2>
    <p>Extreme heat can affect anybody however heat can worsen the condition of someone who already has a medical issue such as heart disease or diabetes. Most reported illness and death is due to the effect of heat on those already ill.  Heat can also cause illnesses such as heat cramps and heat exhaustion which can lead to the life-threatening condition, heat stroke. The table below will help you recognise the symptoms of each and what to do.</p>
    <table class="bordered-table">
        <tr>
            <th></th>
            <th>Symptoms</th>
            <th>What to do</th>
        </tr>
        <tr>
            <th class="row-label">Heat cramps</th>
            <td>
                <ul>
                    <li>Muscle pains</li>
                    <li>Spasms in the abdomen, arms or legs</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Stop activity and sit quietly in a cool place</li>
                    <li>Drink cool water</li>
                    <li>Rest a few hours before returning to activity</li>
                    <li>See a doctor if cramps persist</li>     
                </ul>
            </td>
        </tr>
        <tr>
            <th class="row-label">Heat exhaustion</th>
            <td>
                <ul>
                    <li>Pale complexion and sweating</li>
                    <li>Rapid heart rate</li>
                    <li>Muscle cramps, weakness</li>
                    <li>Dizziness, headache</li>
                    <li>Nausea, vomiting</li>
                    <li>Fainting</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Go to a cool area and lie down</li>
                    <li>Fan if possible</li>
                    <li>Drink cool water if not vomiting</li>
                    <li>Remove outer clothing</li>
                    <li>Wet skin with cool water or wet cloths</li>
                    <li>See a doctor</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th class="row-label">Heatstroke (a life-threatening emergency)</th>
            <td>
                <ul>
                    <li>Same symptoms as heat exhaustion except sweating stops</li>
                    <li>Mental condition worsens, confusion</li>
                    <li>Seizure</li>
                    <li>Stroke-like symptoms or collapsing</li>
                    <li>Unconsciousness</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Call an ambulance - phone <b>000</b></li>
                    <li>Go to a cool area and lie down</li>
                    <li>Remove clothing</li>
                    <li>Wet skin with water, fanning continuously</li>
                    <li>Position an unconscious person on their side and clear their airway</li>
                </ul>
            </td>
        </tr>
    </table>
    <p>If you think someone is suffering from a heat related illness call NURSE-ON-CALL on 1300 60 60 24 for 24-hour health advice or see your doctor if you are unwell.</p>
    <p>In an emergency, call 000.</p>
</div>

<div class="item">
    <a name="heat-health-alerts"></a>
    <h2>Register to receive Heat Health Alerts</h2>
    <p>You can subscribe to <a class="external" href="http://www.health.vic.gov.au/subscribe">receive heat health alerts</a>. You will be sent an email requesting confirmation of your subscription. Please confirm your subscription to ensure you receive alerts.</p>
</div>

<div class="jump-to-top">
    <a href="#top"><i class="fa fa-angle-left"></i> Back</a>
</div>

