<!--
    <h3><a class="external" href=""></a></h3>
    <p></p>
-->

<div class="item">
    <a name="introduction"></a>
    <h1>Terms of Use</h1>
    <p class="important-message">Do not rely on this site alone</p>
    <p>In emergency circumstances, you should not rely on any single source of information, but seek information from as many sources as possible, including ABC local radio, television, internet sites and this site.</p>
    <h2>Introduction</h2>
    <p>The VicEmergency site <a href="http://emergency.vic.gov.au/">emergency.vic.gov.au</a> (site) is a centralised access point for emergency incident and management information. The content provided on the site (Content) is drawn from a range of government and other sources. This site is operated on behalf of the government of the State of Victoria, Australia by Emergency Management Victoria. In these Terms of Use, and in our <a href="about-this-site/#!/disclaimer">Disclaimer</a>, <a href="about-this-site/#!/copyright">Copyright</a> statement and <a href="about-this-site/#!/privacy">Privacy</a> statement, the words "we", "us" and "our" refer to the State of Victoria, Australia and the words "you" and "your" refer to the person using this site (by any means including any robot, spider, other automatic device or agent, or any manual process).</p>
</div>

<div class="item">
    <a name="use-of-site"></a>
    <h2>Use of site</h2>
    <p>By using this site, you are deemed to have accepted these Terms of Use, including the limitations set out in the <a href="about-this-site/#!/disclaimer">Disclaimer</a>.</p>
    <p>We are providing this site as one of the ways you can inform yourself in relation to emergency incidents and activities, however emergency information is often collated and provided under challenging conditions and timeframes. As part of this site being provided in a bona fide attempt to make emergency information more accessible, there are some basic rules.</p>
    <p>The Content on this site is provided to the public to assist in informing the public of emergency incidents and activities. You are permitted to access the Content as an information source in relation to emergency incidents and activities as set out in the Copyright statement, subject to your compliance with these Terms of Use and any third party restrictions that may apply.</p>
    <p>You must not use the Content, including any text, information or data, in any of the following ways:</p>
    <ol>
        <li>use the Content in any site that pretends to be an official government service, or in any other way that suggests that the Department endorses you or your use;</li>
        <li>present the Content in a misleading or incorrect manner, or misrepresent the Content through changing it or otherwise; or</li>
        <li>use the Content or this site in or to support any illegal activity.</li>
    </ol>
    <p>You agree not to use any device, software or routine to interfere or attempt to interfere with the proper working of this site.</p>
    <p>You acknowledge that access to this site, or any Content accessed through it:</p>
    <ol>
        <li>may not be continuous or uninterrupted at all times; and</li>
        <li>may be interfered with by factors or circumstances outside of our control.</li>
    </ol>
    <p>The inclusion of any email addresses on this site is not consent to receiving unsolicited commercial electronic messages or SPAM.</p>
</div>

<div class="item">
    <a name="links-to-the-site"></a>
    <h2>Links to the site</h2>
    <p>You may create a link to this site provided that the link:</p>
    <ol>
        <li>does not, in any way misrepresent us or this site or any of the Content; and</li>
        <li>is not misleading in any way.</li>
    </ol>
</div>

<div class="item">
    <a name="liability"></a>
    <h2>Liability</h2>
    <p>This site may be of assistance to you but the State of Victoria and its employees do not guarantee that the site is without flaw or is appropriate for your particular purpose and therefore disclaims all liability for any error, loss or other consequence which may arise from you relying on any information in this site. Further limits on our liability to you are set out in the <a href="about-this-site/#!/disclaimer">Disclaimer</a>.</p>
    <p>You indemnify us and hold us harmless against all loss, actions, proceedings, costs, expenses (including legal fees), claims and damages arising from any claim by a third party arising directly or indirectly out of or in connection with any breach by you of these Terms of Use.</p>
</div>

<div class="item">
    <a name="privacy"></a>
    <h2>Privacy</h2>
    <p>In the course of your use of this site we may collect some information about you, which will be governed by the terms of our <a href="about-this-site/#!/privacy">Privacy</a> statement.</p>
</div>

<div class="item">
    <a name="changes-to-the-site-and-these-terms-of-use"></a>
    <h2>Changes to the site and these Terms of Use</h2>
    <p>We may amend these Terms of Use at any time. The update information (appearing at the bottom of this page) indicates the date on which these Terms of Use were last amended.</p>
    <p>We reserve the right to amend, delete, add to, or otherwise revise any Content contained in this site at any time, including these Terms of Use. It is your responsibility to monitor any such changes. If you do not accept a change made by us, to the extent permitted by law, your only remedy is to immediately cease accessing and using this site.</p>
</div>

<div class="item">
    <a name="general"></a>
    <h2>General</h2>
    <p>These Terms of Use are governed by, and are to be construed in accordance with, the laws of the State of Victoria, Australia. You agree that the courts of the State of Victoria, Australia have non-exclusive jurisdiction with respect to any matter arising from these Terms of Use or this site.</p>
    <p>If any provision of these Terms of Use is held to be invalid or unenforceable that provision may be:</p>
    <ol>
        <li>read down to the extent necessary to make it valid and enforceable; or</li>
        <li>severed and the remaining provisions of these Terms of Use enforced.</li>
    </ol>
    <p>The Incident Perimeter layer may include burnt area information that represents an area burnt by fire at a specific point in time and it is not 'real time' information. It is provided as a general indication of current fire size. This information is a snapshot generated from Victorian Government data. The State of Victoria does not guarantee that the publication is without flaw of any kind or is wholly appropriate for our particular purposes and therefore disclaims all liability for error, loss or damage which may arise from reliance upon it. All persons accessing this information should make appropriate enquiries to assess the currency of the data.</p>
    <p><i>Updated: 11/11/2015</i></p>

</div>

<div class="jump-to-top">
    <a href="#top"><i class="fa fa-angle-left"></i> Back</a>
</div>

