<!--
    <h3><a class="external" href=""></a></h3>
    <p></p>
-->

<div class="item">
    <a name="copyright"></a>
    <h1>Copyright</h1>
    <p>Copyright in the content provided on this site (<b>Content</b>) is owned by or licenced to the State of Victoria, and administered by Emergency Management Victoria (<b>Department</b>). The Department licenses you to access the Content as an information source in relation to emergency incidents and activities, subject to your compliance with the <a href="about-this-site/#!/terms-of-use">Terms of Use</a> and any third party restrictions that may apply (see below).</p>
</div>

<div class="item">
    <a name="third-party-restrictions"></a>
    <h2>Third party restrictions</h2>
    <p>There may be restrictions on the use of some of the Content, particularly where sourced from a third party. If you want to use any of the Content other than as an information source in relation to emergency incidents and activities, especially for any commercial purpose, please check the terms of use of the third party or obtain clarification from the Department (<a href="mailto:feedback@emergency.vic.gov.au">contact us</a>).</p>
</div>

<div class="item">
    <a name="state-coat-of-arms-logos-and-emblems"></a>
    <h2>State coat of arms, logos and emblems</h2>
    <p>The licence for this site, text, and any dataset or its contents does not apply to the State coat of arms, State of Victoria logo, or to any other emblems, logo or image appearing in the dataset. Apart from any fair use or other statutory use permitted under the <i>Copyright Act 1968</i> (Cth), all rights to those images are reserved.</p>
</div>

<div class="jump-to-top">
    <a href="#top"><i class="fa fa-angle-left"></i> Back</a>
</div>
