<div class="item">
    <a name="who-can-help"></a>
    <h2>Who can help?</h2>
    <h3><a class="external" href="http://www.esta.vic.gov.au/None/EmergencyVic+Landing+Page">Triple Zero (000) Emergency</a></h3>
    <p>Triple Zero (000) should be called when police, fire or ambulance attendance is needed in a life-threatening or time critical situation.</p>
    <p>Be prepared to describe your location as accurately as possible. Your mobile phone only shows call-takers your billing address, not your current GPS location. And don’t hang up the until the call taker tells you to.</p>
    </p>If you see smoke, check the planned burns map before calling Triple Zero (000).</p>
    <h3><a class="external" href="http://www.depi.vic.gov.au/fire-and-emergencies/bushfire-safety/victorian-bushfire-information-line">1800 240 667 – Victorian Bushfire Information Line (VBIL)</a></h3>
    <p>Call to get information during significant fire incidents and find out about community meetings, relief and recovery centres, preparing for fire, total fire bans and fire restrictions. You can also find out whether or not a planned burn is in progress.</p>
    <h3><a class="external" href="http://www.firecommissioner.vic.gov.au/wp-content/uploads/EmergencyBroadcasters.pdf">Emergency radio and TV stations</a></h3>
    <p>Tune in to your local emergency broadcaster for emergency updates.</p>
</div>

<div class="item">
    <div class="image-container"><img src="images/fdr_big.png"/></div>
    <a name="fire-danger-ratings"></a>
    <h2>Fire Danger Ratings</h2>
    <p>Are the fire conditions severe? Extreme? Code Red? At what stage do you need to put your fire plan into action?</p>
    <p>Fire Danger Ratings tell you how dangerous a fire would be if one started – the higher the rating the more dangerous the conditions</p>
    <a class="external" href="http://www.cfa.vic.gov.au/warnings-restrictions/about-fire-danger-ratings/">Understand fire danger ratings</a>
    <a class="external" href="http://emergency.vic.gov.au/map#prepare-fdr">Check your district's current fire rating</a>
    <p>Total Fire Bans tell you what you can and cannot do and what activities are banned on certain days during high fire risk months. Total Fire Bans  are declared on days when fires are likely to spread rapidly and could be difficult to control.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/warnings-restrictions/can/">Total Fire Bans</a></p>
</div>

<div class="fire-danger-ratings"></div>

<div class="item">
    <a name="fire-warnings"></a>
    <h2>Fire warnings</h2>
    <p>When warnings are issued you need to understand what each one means. There are three levels, each increasing in importance dependant on fire conditions (size, location, weather, fire behaviour)</p>
    <a class="external" href="http://www.cfa.vic.gov.au/warnings-restrictions/about-warnings/">Read more on fire warnings</a>

    <div class="icon-keys-warningAdvice"/>
    <p>All Clear</p>
    <p>Emergency activity in the area has subsided and is no longer a danger to you</p>

    <div class="icon-keys-warningAdvice"/>
    <p>Advice</p>
    <p>An incident is occurring or has occurred in the area</p>
    <p>Access information and monitor conditions.</p>

    <div class="icon-keys-warningWatchAct"/>
    <p>Watch & Act</p>
    <p>An emergency is heading towards you. Conditions are changing and you need to start taking action now to protect your health, life and your family.</p>

    <div class="icon-keys-warningEmergency"/>
    <p>Emergency Warning</p>
    <p>You are in imminent danger and need to take action now. You will be impacted by the emergency.</p>
</div>

<div class="item">
    <a name="steps-to-take"></a>
    <h2>Steps to take</h2>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/leave-early/">Leave and live</a></p>
    <p>Leaving early is the safest way to survive a bushfire. People die during bushfires trying to leave their homes at the last minute.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/staying-safe-in-the-car-1-1">Stay safe in the car</a></p>
    <p>Driving during a bushfire is extremely dangerous and can result in serious injury or death. Always plan to leave early to stay safe.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/staying-safe-when-you-travel/">Safety while touring or travelling</a></p>
    <p>Use CFA's Traveller's Checklist, and never travel into any high-risk bushfire area where a Code Red has been declared.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/what-to-take-with-you/">What to take with you</a></p>
    <p>How to put your emergency kit together.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/helping-people-leave/">People who need help leaving</a></p>
    <p>If you're frail or elderly, have a physical disability, or have problems thinking clearly or acting quickly under stress, you may need help.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/stay-and-actively-defend/">If you intend to stay and defend</a></p>
    <p>Defending your home is risky – you could be seriously injured, suffer psychological trauma or die. The safest option is to be well away from the threat.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/neighbourhood-safer-places/">When it's too late to leave early</a></p>
    <p>Plan and know your survival options if leaving early is no longer an option.</p>
</div>

<div class="item">
    <a name="how-to-prepare-for-fire"></a>
    <h2>How to prepare for fire</h2>
    <a class="external" href="http://cfa.vic.gov.au/myrisk">Find out your risk and what to do</a>

    <h3>In your community</h3>
    <p>Plan and prepare with help from your local CFA
    <p><a class="external" href="http://www.cfa.vic.gov.au/warnings-restrictions/find-your-fire-district/">Do you know your fire district?</a></p>
    <p>Victoria is divided into nine fire districts – find your district and view the latest information.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/community-information-guides/">Community Information Guides</a></p>
    <p>These guides (formerly known as Township Protection Plans) are a key source of information for communities that live within high-risk areas, not every community will have one. These guides are an important tool to emphasise the shared responsibility between the community, fire services and local government.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/bushfire-preparation-meetings/">Bushfire Preparation Meetings</a></p>
    <p>CFA's one hour FireReady meetings let you share views and experiences on managing bushfire risk, and make contacts or pool resources. <a class="external" href="https://www.communityprograms.cfa.vic.gov.au/cfa/landing/default.htm">Find a meeting near you.</a></p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/practical-bushfire-planning-workshops/">Practical bushfire planning workshops</a></p>
    <p>Develop your own fire survival plan step by step at one of CFA's bushfire planning workshops.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/my-cfa/">My CFA</a></p>
    <p>Access information about community meetings and neighbourhood safer places in your area.</p>


    <h3>Your FireReady Kit</h3>
    <p>This Fire Ready Kit has been developed by CFA as a valuable resource. It will help you prepare your Bushfire Survival Plan.
    <p><a class="external" href="http://www.cfa.vic.gov.au/fm_files/attachments/plan_and_prepare/frk_2013/Introduction_AmIatrisk.pdf">Am I at risk?</a></p>
    <p>Understanding your fire risk is the first step in helping you know what you need to do and assists in developing your Bushfire Survival Plan.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/fm_files/attachments/plan_and_prepare/frk_2013/Section1_Yourbushfireplan_the_basics.pdf">Your bushfire plan – the basics</a></p>
    <p>Why you need to plan and the basics of how to plan.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/fm_files/attachments/plan_and_prepare/frk_2013/Section2_Onfireriskdays_leaving_early.pdf">On fire risk days – leaving early</a></p>
    <p>A practical guide to leaving early, including moving animals.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/fm_files/attachments/plan_and_prepare/frk_2013/Section3_Duringafire_ifyoucannotleave.pdf">During a fire – if you cannot leave</a></p>
    <p>Know your shelter and survival options if a fire is in your area and you cannot leave.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/fm_files/attachments/plan_and_prepare/frk_2013/713_CFA_2014_Section_4_web.pdf">Staying informed</a></p>
    <p>Explains ratings, restrictions and warnings, including where to find them.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/fm_files/attachments/plan_and_prepare/frk_2013/Section5_Preparing_your_property.pdf">Preparing your property</a></p>
    <p>Outlines what you must do to reduce the effects of bushfire on your property.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/fm_files/attachments/plan_and_prepare/frk_2013/Section6__Defendingyourproperty.pdf">Defending your property</a></p>
    <p>Learn what it takes to defend your property and understand the risks involved.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/fm_files/attachments/plan_and_prepare/frk_2013/4713_CFA_Pullout_LEAVING_web.pdf">Bushfire survival planning template – leaving early</a></p>
    <p>Use this guide to help you write your Bushfire Survival Plan, including actions before and during the fire season, and actions leading up to fire risk days.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/fm_files/attachments/plan_and_prepare/frk/4713_CFA_Pullout_DEFEND_web.pdf">Bushfire survival planning template – defending your property</a></p>
    <p>Use this guide to help you write your Bushfire Survival Plan if you plan to stay and defend your property. It is important that you also read the whole Fire Ready Kit for important information.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/back-up-plans/">You must have a backup plan</a></p>
    <p>Fires are unpredictable and plans can fail. Having a back-up plan that identifies shelter or last resort options may save your life.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/prepare-your-property/">Prepare your property</a></p>
    <p>Everyone living near dense forest, bush, grassland or the coast needs to prepare their property for fire. There are also a number of <a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/home-improvements/">home improvements</a> you can make.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/fireready-quiz/">FireReady Quiz</a></p>
    <p>10 simple questions to get you on the road to being FireReady.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/farms/">Livestock and equipment</a></p>
    <p>On a farm, fire management planning is essential to help you protect your assets.</p>
    <p><a class="external" href="http://www.betterhealth.vic.gov.au/bhcv2/bhcarticles.nsf/pages/Bushfires_prepare_your_mind">Preparing yourself</a></p>
    <p>How to prepare yourself mentally and emotionally for the bushfire season.</p>
    <p><a class="external" href="http://www.em.gov.au/Emergency-Warnings/Documents/Be Mobile Phone Prepared for a Disaster factsheet - October 2012.pdf">Preparing your mobile phone</a></p>
    <p>There are things you can do with your mobile phone to ensure you're prepared.</p>
</div>

<div class="item">
    <a name="fire-types-and-behaviour"></a>
    <h2>Fire types and behaviour</h2>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/how-fire-behaves/">How fire behaves</a></p>
    <p>What influences fire and what creates a bushfire risk?</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/radiant-heat/">Radiant heat</a></p>
    <p>Radiant heat is the heat you feel from a fire and is the biggest killer. The best protection is to get as far away from the fire as possible.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/grassfires-rural/">Grassfires - rural areas</a></p>
    <p>Grassfires can start and spread rapidly, travelling at speeds of up to 25 km per hour, quickly threatening lives and property.</p>
    <p><a class="external" href="http://www.cfa.vic.gov.au/plan-prepare/grassfires-near-cities-and-towns/">Grassfires - near cities and towns</a></p>
    <p>If you live on the edge of a city or town, you're at risk of grassfires - and they can be just as dangerous as bushfires. It’s important that you know what to do if a grassfire starts near you.</p>
</div>

<div class="item">
    <a name="planned-burns"></a>
    <h2>Planned Burns</h2>
    <p>Fire crews from DELWP, CFA and Parks Victoria work together to conduct planned burns on public land.  The burns are conducted under carefully managed conditions and are part of a program to reduce bushfire risk for communities and the environment.</p>
    <p>You may see or smell smoke from planned burns, and some roads and parks may close. To find out about upcoming planned burns near you, or for more information on DELWP's planned burning program, please visit <a class="external" href="http://delwp.vic.gov.au/fire-and-emergencies">delwp.vic.gov.au/fire-and-emergencies</a>, call theVictorian Bushfire Information Line on 1800 240 667 or register to receive an email or SMS notification at <a class="external" href="http://www.delwp.vic.gov.au/pbns">www.delwp.vic.gov.au/pbns</a>. You can also see planned burns that are already underway on the <a class="external" href="http://www.firereadyfaq.emergency.vic.gov.au/">FireReady app</a>.</p>
    <p>To find out which parks and roads are closed go to traffic.vicroads.vic.gov.au or check with your local DELWP or Parks Victoria office for details.</p>
    <p>The list below shows:</p>
    <ul>
        <li>planned burns underway</li>
        <li>planned burns likely to be ignited within 24 hours or the next 10 days (timing may change without notice due to weather or other reasons)</li>
        <li>recent planned burns</li>
    </ul>
    <p>Visit <a class="external" href="http://delwp.vic.gov.au/fire-and-emergencies">delwp.vic.gov.au/fire-and-emergencies</a> to see these burns on a map and for further information. This list does not include burns on private land. Although conditions may be suitable for fire agencies to carry out planned burns, this does not mean it is safe for you to conduct burns on your property. Check if fire restrictions are in force in your municipality.</p>

    <iframe title="Planned Burns" class="planned-burns" src="https://emapws.depi.vic.gov.au/BurnsToday/burnssummary1.htm"></iframe>

</div>

<div class="jump-to-top">
    <a href="#top"><i class="fa fa-angle-left"></i> Back</a>
</div>

