<!--
    <h3><a class="external" href=""></a></h3>
    <p></p>
-->

<div class="item">
    <a name="do-not-rely-on-this-site-alone"></a>
    <h1>Disclaimer</h1>
    <h2>Do not rely on this site alone</h2>
    <p>In emergency circumstances, you should not rely on any single source of information, but seek information from as many sources as possible, including ABC local radio, television, internet sites and this site.</p>
</div>

<div class="item">
    <a name="this-site"></a>
    <h2>This Site</h2>
    <p>The VicEmergency website (<a href="http://emergency.vic.gov.au">emergency.vic.gov.au</a>) (<b>this site</b>) is made available for information purposes.</p>
    <p>All text, graphics, video, information, designs, data and other content available through or arising from this site (Content) is provided to you for general information only. You understand and agree that the Content is not comprehensive, does not constitute advice and has not taken into account your specific circumstances. You understand and agree that your use of the Content is solely at your own risk.</p>
    <p>We have taken reasonable care to ensure that the Content is correct and current at the time of publication. However, we make no warranty, either express or implied, concerning the suitability, reliability, availability, timeliness or accuracy of the Content for any purpose.</p>
    <p>You understand and acknowledge that the internet is not a secure medium and communications to and from this site may be intercepted or altered in transit. To the extent permitted by law, we make no representation or warranty, either express or implied, that this site will be free from viruses or any other security threats that may damage any device used to access this site.</p>
    <p>The Content has been created by many different government agencies and third parties and we do not represent or warrant that any of the Content is accurate, authentic or complete, or suitable for your needs. Changes in circumstances after the time of publication may affect the accuracy of the Content.</p>
    <p>We recommend that you exercise your own skill and care with respect to your use of this site and carefully evaluate the accuracy, currency, completeness and relevance of the Content for your purposes and circumstances, including any and all data.</p>
</div>

<div class="item">
    <a name="links-to-external-websites"></a>
    <h2>Links to external websites</h2>
    <p>This site contains links to external websites. We may have no control over the content of any linked sites or the changes that may occur to the content on those sites. It is your responsibility to make your own decisions about the accuracy, currency, reliability and correctness of information contained in linked external websites. We assume no responsibility or liability for the condition or content of any third party website or for the operation or function of any service or facility offered on any third party website.</p>
</div>

<div class="item">
    <a name="security"></a>
    <h2>Security</h2>
    <p>We apply a range of security controls to protect this site from unauthorised access. However, you should be aware that the internet is an insecure public network that gives rise to a potential risk that the site may have been compromised and/or that any interactions with the site that you may have are being viewed, intercepted or modified by third parties or that files which you download may contain computer viruses, disabling codes, worms or other devices or defects.</p>
    <p>We accept no liability for any interference with or damage to your computer system, software or data occurring in connection with or relating to this site or its use. You should take appropriate and adequate precautions (including up-to-date firewall and anti-virus software) to ensure that whatever is selected or downloaded from this site is free of viruses or other contamination that may interfere with or damage your computer system, software or data.</p>
    <p>Where connection to a system or website outside our control compromises the objectives of this site, we may sever links to that website or system.</p>
</div>

<div class="item">
    <a name="liability"></a>
    <h2>Liability</h2>
    <p>To the maximum extent permitted by law, we accept no liability whatsoever to you or to any person arising from or connected with the use of or reliance on any Content provided on this site or incorporated into it by reference. No responsibility is taken for any information or services that may appear on any linked websites.</p>
    <p>This site and its Content are provided entirely "as is". Except where to do so would cause any part of the <a href="about-this-site/#!/terms-of-use">Terms of Use</a> to be illegal, void or unenforceable, we:</p>
    <ol>
        <li>exclude all conditions and warranties implied into the <a href="about-this-site/#!/terms-of-use">Terms of Use</a>; </li>
        <li>to the fullest extent permitted by applicable law, are not liable to you or anyone else for any loss or damage, however caused (including negligence), which may be directly or indirectly suffered in connection with the use or performance of the site or any Content (including any cost, loss, liability or expense arising from death, personal injury or damage to property); and </li>
        <li>exclude liability (whether that liability arises under contract, tort (including negligence) or statute) for any direct, indirect, punitive, incidental, special or consequential loss or damage (including without limitation loss of revenue and loss of, or damage to, data) suffered or incurred in connection with the use or performance of the site or any Content.</li>
    </ol>
    <p>If, despite the above provisions, a court determines that we are liable to you, that liability will be limited (at our election) to resupplying the affected service or Content to you.</p>
</div>

<div class="jump-to-top">
    <a href="#top"><i class="fa fa-angle-left"></i> Back</a>
</div>

