
<!--
    <h3><a class="external" href=""></a></h3>
    <p></p>
-->


<div class="item">
    <a name="who-can-help"></a>
    <h2>Who can help?</h2>
    <h3><a class="external" href="http://www.triplezero.gov.au/">Triple Zero (000) Emergency</a></h3>
    <p>Triple Zero (000) should be called when police, fire or ambulance attendance is needed in a life-threatening or time critical situation.</p>
    <p>Be prepared to describe your location as accurately as possible. Your mobile phone only shows call-takers your billing address, not your current GPS location.</p>
    <h3><a class="external" href="http://www.ses.vic.gov.au/warnings/emergency-contacts">132 500 – SES Emergency</a></h3>
    <p>Call from anywhere in Victoria for earthquake emergency response.</p>
    <h3><a class="external" href="https://www.emv.vic.gov.au/our-work/victorias-warning-system/emergency-broadcasters/">Emergency radio and TV stations</a></h3>
    <p>Tune to ABC Local Radio, commercial and community designated radio stations or Sky News TV.</p>
    <h3><a class="external" href="http://www.ses.vic.gov.au/warnings/emergency-contacts">1300 842 737 – SES Information Line</a></h3>  
    <p>The SES Information Line only operates during major earthquake events.</p>
</div>

<div class="item">
    <div class="image-container"></div>
    <a name="notification-systems"></a>
    <h2>Notification Systems</h2>
    <p>The Victoria State Emergency Service and Geoscience Australia work together to notify the community when an earthquake has occurred.  Information on recent earthquakes can be found on<br/>
    <a class="external" href="http://www.emergency.vic.gov.au/">Vic Emergency</a><br/>
    <a class="external" href="http://www.ga.gov.au/earthquakes/">Geoscience Australia website</a></p>
    <p>Unlike other countries such as Japan, New Zealand and Indonesia, Australia does not lie in close proximity to a tectonic plate boundary where large earthquakes can occur. However, communities in Australia can still experience damaging and deadly earthquakes. The largest earthquake to affect Australia in recent times was the Newcastle earthquake in 1989, which killed 13 people and injured 160. There is no accepted method to predict earthquakes and therefore no warnings will be issued</p>
</div>

<div class="item">
    <a name="plan-and-prepare"></a>
    <h2>Plan and Prepare</h2>
    <p>We’ve put together some important information that can help you learn more about what you can do to plan and prepare for an earthquake. Click on one of the questions below to start preparing.</p>
    <ul>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/quakesafe/earthquake-notifications">How do earthquake notification systems work?</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/quakesafe/what-to-do-in-an-earthquake">What should I do if an earthquake happens?</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/emergency-plans-and-kits/emergency-plans-and-kits">How do I put together an emergency plan and kit?</a></li>
    </ul>
    <p>You can also download the following fact sheets to help you understand your earthquake risk</p>
    <ul>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/prepare-resources/what-to-do-in-an-earthquake">What to do in an Earthquake.pdf</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/prepare-resources/earthquake-definitions">Earthquake Definitions.pdf</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/prepare-resources/earthquake-facts">Earthquake Facts.pdf</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/prepare-resources/earthquakes-in-victoria">Earthquakes in Victoria.pdf</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/prepare-resources/emergency-toolkit.pdf">Emergency Toolkit.pdf</a></li>
    </ul>
</div>

<div class="item">
    <a name="earthquake-safety-messages"></a>
    <h2>Earthquake safety messages</h2>
    <p><b>Please do not phone emergency services for general earthquake advice.</b> For earthquake information, please phone Geoscience Australia on <b>1800 655 739</b>.</p>
    <h4>If you are indoors during an earthquake:</h4>
    <ul>
        <li>DROP to the ground; take COVER by getting under a sturdy table or other piece of furniture; and HOLD ON until the shaking stops. If there isn’t a table or desk near you, cover your face and head with your arms and crouch in an inside corner of the building.</li>
        <li>Stay away from glass, windows, outside doors and walls, and anything that could fall, such as lighting fixtures or furniture.</li>
        <li>Stay in bed if you are there when the earthquake strikes. Hold on and protect your head with a pillow, unless you are under a heavy light fixture that could fall. In that case, move to the nearest safe place.</li>
        <li>Do not use a doorway except if you know it is a strongly supported, load-bearing doorway and it is close to you. Many inside doorways are lightly constructed and do not offer protection.</li>
        <li>Stay inside until the shaking stops and it is safe to go outside. Do not exit a building during the shaking. Research has shown that most injuries occur when people inside buildings attempt to move to a different location inside the building or try to leave.</li>
        <li>DO NOT use the elevators.</li>
        <li>Be aware that the electricity may go out or the sprinkler systems or fire alarms may turn on.</li>
    </ul>
    <h4>If you are outdoors during an earthquake:</h4>
    <ul>
        <li>Stay there.</li>
        <li>Move away from buildings, streetlights, and utility wires.</li>
        <li>Once in the open, stay there until the shaking stops. The greatest danger exists directly outside buildings, at exits and alongside exterior walls.</li>
    </ul>
    <h4>If you are in a moving vehicle during an earthquake:</h4>
    <ul>
        <li>Stop as quickly as safety permits and stay in the vehicle. Avoid stopping near or under buildings, trees, overpasses, and utility wires.</li>
        <li>Proceed cautiously once the earthquake has stopped. Avoid roads, bridges, or ramps that might have been damaged by the earthquake.</li>
    </ul>
    <h4>If you are trapped under debris:</h4>
    <ul>
        <li>Do not light a match.</li>
        <li>Do not move around or kick up dust.</li>
        <li>Cover your mouth with a handkerchief or clothing.</li>
        <li>Tap on a pipe or wall so rescuers can locate you. Use a whistle if one is available. Shout only as a last resort. Shouting can cause you to inhale dangerous amounts of dust.</li>
    </ul>
</div>


<div class="jump-to-top">
    <a href="#top"><i class="fa fa-angle-left"></i> Back</a>
</div>
