
<!--
    <h3><a class="external" href=""></a></h3>
    <p></p>
-->


<div class="item">
    <a name="who-can-help"></a>
    <h2>Who can help?</h2>
    <h3><a class="external" href="http://www.esta.vic.gov.au/None/EmergencyVic+Landing+Page">Triple Zero (000) Emergency</a></h3>
    <p>Triple Zero (000) should be called when police, fire or ambulance attendance is needed in a life-threatening or time critical situation.</p>
    <p>Be prepared to describe your location as accurately as possible. Your mobile phone only shows call-takers your billing address, not your current GPS location.</p>
    <h3><a class="external" href="http://www.ses.vic.gov.au/warnings/emergency-contacts">132 500 – SES Emergency</a></h3>
    <p>Call from anywhere in Victoria for flood emergency response.</p>
    <h3><a class="external" href="https://www.emv.vic.gov.au/our-work/victorias-warning-system/emergency-broadcasters/">Emergency radio and TV stations</a></h3>
    <p>Tune to ABC Local Radio, commercial and community designated radio stations or Sky News TV.</p>
    <h3><a class="external" href="http://www.ses.vic.gov.au/warnings/emergency-contacts">1300 842 737 – SES Information Line</a></h3>
    <p>The SES Information Line only operates during major flood events.</p>
</div>

<div class="item">
    <div class="image-container"></div>
    <a name="warning-systems"></a>
    <h2>Warning Systems</h2>
    <p>The Victoria State Emergency Service and the Bureau of Meteorology work together to warn the community about flooding. Current flood warnings for Victoria can be found on the<br/>
    <a class="external" href="http://www.emergency.vic.gov.au/">Vic Emergency</a><br/>
    <a class="external" href="http://www.bom.gov.au/vic/warnings/">Bureau of Meteorology website</a></p>
    <p>Remember, you may not receive any official warning. Emergency assistance may not be immediately available so be aware of what is happening around you to stay safe. Never wait for a warning to act. Flooding can happen anywhere, at any time, and can be caused by more than just rain. Even if you don't live near a river or creek, flooding may still happen in your area. For more information about floods visit the SES <a class="external" href="http://www.ses.vic.gov.au/get-ready/floodsafe/">FloodSafe page</a></p>
</div>

<div class="item">
    <a name="plan-and-prepare"></a>
    <h2>Plan and Prepare</h2>
    <p>We’ve put together some important information that can help you learn more about what you can do to prepare your home for floods. Click on one of the questions below to start preparing.</p>
    <ul>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/floodsafe/local-floodsafe-information">Where can I find FloodSafe information for my local area?</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/at-home">How can I prepare my home for a flood?</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/at-work">How can I prepare my business for a flood?</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/floodsafe/flood-warning-systems">How do flood warning systems work?</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/emergency-plans-and-kits/emergency-plans-and-kits">How do I put together an emergency plan and kit?</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/floodsafe/what-do-do-in-a-flood">What should I do if a flood happens?</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/at-school">How can I prepare my students for floods?</a></li>
    </ul>
    <p>The following resources can help you before, during and after a flood:</p>
    <ul>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/prepare-resources/emergency-toolkit.pdf">Emergency Toolkit.pdf (560 KB)</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/floodsafe/floodsafe-resources/FloodSafe Guide - How to Plan and Prepare for Floods.pdf">FloodSafe Guide - How to Plan and Prepare for Floods.pdf (2.5 MB)</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/floodsafe/floodsafe-resources/Floods and Storms After Fires Guide.pdf">Floods and Storms After Fires Guide.pdf (554 KB)</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/floodsafe/floodsafe-resources/Rural FloodSafe Guide.pdf">Rural FloodSafe Guide.pdf (254 KB)</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/floodsafe/floodsafe-resources/Caravan Park Occupants Flood Guide.pdf">Caravan Park Occupants Flood Guide.pdf (286 KB)</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/floodsafe/floodsafe-resources/sandbag-reference-guide">Sandbag Quick Reference Guide.pdf (168 KB)</a></li>
    </ul>
</div>

<div class="item">
    <a name="flood-safety-messages"></a>
    <h2>Flood safety messages</h2>
    <p>What to do during minor flooding</p>
    <ul>
        <li>Decide what you and your family will do if flooding affects you</li>
        <li><a class="external" href="http://www.bom.gov.au/vic/flood/index.shtml">Monitor weather forecasts and stream levels</a></li>
        <li>Consider moving livestock to higher ground</li>
        <li>Take care when driving – do not drive through flood water</li>
        <li>Take care around rivers, stream and drains – do not enter flood water</li>
        <li>Be prepared to act if your situation changes</li>
        <li>If you require assistance from SES call 132 500</li>
    </ul>
    <p>What to do during moderate flooding</p>
    <ul>
        <li>Decide what you and your family will do if you become isolated or if you need to evacuate</li>
        <li>Consider moving livestock and machinery to higher ground – if safe to do so.</li>
        <li><a class="external" href="http://www.bom.gov.au/vic/flood/index.shtml">Monitor weather forecasts and stream levels</a></li>
        <li>Take care when driving – do not drive through flood water</li>
        <li>Take care around rivers, stream and drains – do not enter flood water</li>
        <li>If you require assistance from SES call 132 500</li>
    </ul>
    <p>What to do during major flooding</p>
    <ul>
        <li>Decide what you and your family will need if you become isolated or if you need to evacuate</li>
        <li>Take care when driving – do not drive through flood water</li>
        <li>Take care around rivers, stream and drains – do not enter flood water</li>
        <li>If you require assistance from SES call 132 500</li>
    </ul>
    <p>What to do if you need to evacuate</p>
    <ul>
        <li>Act Now – take immediate precautions to protect your life and property</li>
        <li>Raise belongings by placing them on tables, beds and benches, or move them to higher ground</li>
        <li>Collect together medicines, important documents, mementos, photos and pets and take them with</li>
        <li>Take three days’ supply of clothing, medication and pet needs with you</li>
        <li>Turn off electricity and gas at the mains and lock you doors and windows when you evacuate</li>
        <li>Remaining in your home or business during flooding is dangerous and may put your life at risk</li>
    </ul>
</div>


<div class="jump-to-top">
    <a href="#top"><i class="fa fa-angle-left"></i> Back</a>
</div>
