<!--
    <h3><a class="external" href=""></a></h3>
    <p></p>
-->

<div class="item">
    <a name="emergency-relief-and-recovery-victoria"></a>
    <h2>Emergency Relief and Recovery Victoria</h2>
    <div class="image-container"><img src="images/logos/reliefandrecovery.gif"></div>
    <p>The Emergency Relief and Recovery Victoria website offers practical emergency relief and recovery information to help you during and after a major emergency.</p>
    <p>Here you'll find information about emergency relief centres run by your local council, offering emergency shelter, basic food and water, first aid, psycho-social support, care for your pets and companion animals, and emergency financial assistance to eligible households.</p>
    <p>You can also access a range of longer-term community recovery services and initiatives.</p>
    <p><a class="external" href="http://www.recovery.vic.gov.au/">Visit the Emergency Relief and Recovery site</a></p>
</div>

<div class="item">
    <a name="who-can-help"></a>
    <h2>Who can help?</h2>
    <p><a class="external" href="http://www.esta.vic.gov.au/None/EmergencyVic+Landing+Page">Triple Zero (000) Emergency</a></p>
    <p>Triple Zero (000) should be called when police, fire or ambulance attendance is needed in a life-threatening or time critical situation.</p>
    <p>Be prepared to describe your location as accurately as possible. Your mobile phone only shows call-takers your billing address, not your current GPS location.</p>
    <p>1300 799 232 – Victorian Emergency Recovery Information Line</p>
    <p>Call this number for current information and referrals for a range of emergency relief and recovery services supporting those affected by a major event.</a></p>
    <p><a class="external" href="http://www.ses.vic.gov.au/warnings/emergency-contacts">132 500 – SES Flood Storm Emergency</a></p>
    <p>Call from anywhere in Victoria for flood, storm, tsunami and earthquake emergency response. </p>
</div>

<div class="item">
    <a name="after-a-flood"></a>
    <h2>After a flood</h2>
    <p><a class="external" href="http://www.health.vic.gov.au/environment/floods-hazards.htm">Returning home after floods</a></p>
    <p>When returning to your home after a flood, take precautions to reduce the possibility of illness, disease or injury. Here's what to consider.</p>
    <p><a class="external" href="http://www.health.vic.gov.au/emergency/natural-disasters.htm">Your health after an emergency</a></p>
    <p>Your own health and safety can be at risk after an emergency. Here's what to be aware of.</p>
    <p><a class="external" href="http://www.health.vic.gov.au/environment/floods-private-water.htm">Private water sources in flood affected areas</a></p>
    <p>If you rely on rainwater or groundwater, your water may be contaminated after floods. Find out what you need to know.</p>
    <p><a class="external" href="http://www.health.vic.gov.au/environment/floods-septic-tanks.htm">Septic tanks in flood affected areas</a></p>
    <p>If you live in a flood-affected area, your septic tank system may be affected. How to check your system and what to do.</p>
    <p><a class="external" href="http://www.health.vic.gov.au/environment/floods-power-blackouts.htm">Using alternative power sources safely</a></p>
    <p>When power outages occur, people often turn to alternative sources of fuel or electricity. Here's how to stay safe.</p>
    <p><a class="external" href="http://www.health.vic.gov.au/environment/hazards-mould.htm">Mould – what you need to know</a></p>
    <p>Mould has health implications and needs to be removed as soon as possible. Find out what to be aware of and how to remove mould safely.</p>
    <p><a class="external" href="http://www.csiro.au/products/Flood-Damage-Advisor">Assessing the damage</a></p>
    <p>CSIRO's Flood Damage Advisor is an online web tool providing information on common building, fabric and material problems that occur after a flood.</p>
</div>

<div class="item">
    <a name="financial-and-emotional-assistance"></a>
    <h2>Financial & emotional assistance</h2>
    <p><a class="external" href="http://www.dhs.vic.gov.au/for-individuals/crisis-and-emergency/financial-crisis-support/personal-hardship-assistance-program">Personal Hardship Assistance Program</a></p>
    <p>The Personal Hardship Assistance Program (PHAP) provides financial assistance to alleviate personal hardship and distress suffered by eligible Victorians as a result of an emergency.</p>
    <p><a class="external" href="http://www.betterhealth.vic.gov.au/bhcv2/bhcarticles.nsf/pages/Trauma_-_reaction_and_recovery">Trauma – reaction and recovery</a></p>
    <p>It is normal to have strong emotional or physical reactions after an emergency – these feelings are part of the healing process. Here are some strategies for coping.</p>
    <p><a class="external" href="http://www.betterhealth.vic.gov.au/bhcv2/bhcarticles.nsf/pages/Trauma_and_families_tips_for_parents">Trauma and families – tips for parents</a></p>
    <p>In families, each person reacts in their own way after an emergency. Understanding each other and some of the common reactions to look out for can help your family.</p>
</div>

<div class="jump-to-top">
    <a href="#top"><i class="fa fa-angle-left"></i> Back</a>
</div>

