<!--
    <h3><a class="external" href=""></a></h3>
    <p></p>
-->

<div class="item">
    <a name="about-this-site"></a>
    <h1>About this site</h1>
    <p>Welcome to VicEmergency, Victoria's primary website for incident information and warnings.</p>
    <p>VicEmergency has a real-time Google Map display with incidents across the state including fires, floods, storms, earthquakes, tsunamis, hazardous material and traffic accidents.</p>
    <p>Remember, always access more than one source for emergency information and warnings. </p>
    <p>As well as visiting VicEmergency, you can download the <a class="external" href="http://www.firecommissioner.vic.gov.au/FireReadyFAQ">FireReady app</a>, check VicEmergency <a class="external" href="https://www.facebook.com/vicemergency">Facebook</a> and <a class="external" href="https://twitter.com/vicemergency">Twitter</a>, listen to your local <a class="external" href="http://www.firecommissioner.vic.gov.au/wp-content/uploads/EmergencyBroadcasters.pdf">emergency broadcaster</a> or ring the Victorian Bushfire Information Line on 1800 240 667.</p>
</div>

<div class="item">
    <a name="faq"></a>
    <h2>Frequently Asked Questions</h2>
    <h3 class="question">What is the VicEmergency website?</h3>
    <p>The VicEmergency website is a centralised site for Victorians to find emergency information and warnings. You can also access planning, preparedness and recovery information related to emergencies.</p>
    <h3 class="question">Why was the VicEmergency website built?</h3>
    <p>A single, all-emergencies website was recommended by the Victorian Emergency Management Reform White Paper and the 2011 Victorian Flood Review into Community Information and Warnings.</p>
    <p>The VicEmergency website provides information and warnings for fires, hazardous material incidents, storms, floods, earthquakes, tsunamis and traffic hazards. You can also access planning, preparedness and recovery information related to emergencies.</p>
    <p>A centralised emergencies website makes it easier for the community to source emergency information and warnings.</p>
    <p>VicEmergency reflects the role of emergency management in Victoria to work together with communities, government, agencies and business to strengthen their capacity to withstand, plan for, respond to and recover from emergencies.</p>
    <h3 class="question">What information is included on the VicEmergency website?</h3>
    <p>The VicEmergency website is a site, combining emergency information and warnings. It provides information and warnings for fires, hazardous material incidents, storms, floods, earthquakes, tsunamis and traffic hazards. You can also access planning, preparedness and recovery information related to emergencies.</p>
    <p>The website uses emergency incident information and warnings data from agencies including CFA, MFB, SES and DELWP, to display emergency incidents in real time, on a Google map display.</p>
    <p>Development of the website is ongoing, with a focus to include additional content from other emergency management agencies and departments in the future.</p>
    <h3 class="question">What are the features of the VicEmergency website?</h3>
    <p>The VicEmergency website includes a list of incidents and warnings from across the state, with an option to display the information on a map, as text or a combination of both.</p>
    <p>The homepage shows emergency events in real time, on a Google Maps display.</p>
    <p>The website uses emergency incident information and warnings data from agencies including CFA, MFB, SES and DELWP, to display emergency incidents in real time, on a Google map display.</p>
    <p>You can customise what you see on the VicEmergency website by using the filtering function to view incidents by emergency type, for example, fire, or you can select to view information related to multiple emergencies, for example, fires and floods.</p>
    <p>You can also access planning, preparedness and recovery information related to emergencies.</p>
    <h3 class="question">Can I access the VicEmergency website on my smartphone or tablet?</h3>
    <p>Yes. The VicEmergency website has been updated and is quicker and easier to use across all devices – desktop, mobile and tablet.</p>
    <p>This website is fully mobile responsive and has been tested by Vision Australia to meet online accessibility standards.</p>
    <p>Apple and Android mobile phone users can also download the FireReady app to access emergency information and warnings.</p>
    <h3 class="question">Do I need to access emergency information from other sources?</h3>
    <p>Yes. It is important to stay alert to the conditions around you, and use more than one source for information and warnings.</p>
    <p>You can get information by tuning in to ABC local radio, or other emergency broadcasters including radio or SKY TV, by downloading the FireReady App, phoning the Victorian Bushfire Information Line on 1800 240 667 or following VicEmergency or CFA’s Twitter and Facebook accounts.</p>
    <p>There are a range of reasons why technology might fail, so as part of your emergency plan, it is important to know where you can get emergency information and warnings, including alternative sources if you don’t have access to internet or mobile phone coverage.</p>
    <h3 class="question">What emergency information is not included on the VicEmergency website?</h3>
    <p>The VicEmergency website provides information and warnings for bushfires, grassfires, building fires, hazardous material incidents, floods, storms, earthquakes, tsunamis, traffic incidents and more. You can also access planning, preparedness and recovery information related to emergencies.</p>
    <p>Information from Victoria Police and Ambulance Victoria is not currently included on the VicEmergency website.</p>
    <p>Development of the website is ongoing, with a focus to include additional content from other emergency management agencies and departments in the future.</p>
    <h3 class="question">Who is responsible for the VicEmergency website?</h3>
    <p>The VicEmergency website uses emergency incident information and warnings data from agencies including CFA, MFB, SES and DELWP, to display emergency incidents in real time, on a Google Maps display.</p>
    <p>The website provides information and warnings for fires, hazardous material incidents, storms, floods, earthquakes, tsunamis and traffic hazards. You can also access planning, preparedness and recovery information related to emergencies.</p>
    <p><a href="http://emv.vic.gov.au/" class="external">Emergency Management Victoria</a> manages the VicEmergency website in partnership with emergency management agencies and departments whose information and warnings are provided on the site.</p>
    <p>VicEmergency reflects the role of emergency management in Victoria to work together with communities, government, agencies and business to strengthen their capacity to withstand, plan for, respond to and recover from emergencies.</p>
    <h3 class="question">What is different?</h3>
    <p>The VicEmergency website has been updated to make it quicker and easier for the community to access emergency information and warnings.</p>
    <p>These updates are in line with community feedback and input from emergency management agencies and partners. The updates will be made in three stages.</p>
    <p>In November 2015, the updated VicEmergency website was made available to the public, with quicker load time and improved visual design.</p>
    <p>The website is also now quicker and easier to use across all devices – desktop, mobile and tablet. VicEmergency is fully mobile responsive and has been tested by Vision Australia to meet online accessibility standards.</p>
    <p>Additional information provided on the site now includes coastal warnings and at a later date, emergency health information and warnings will be available.</p>
    <p>Based on the community’s advice, some information such as power outages, river monitoring and traffic conditions has been removed from the homepage map and incident list. Feedback from the community was that non-emergency information such as this cluttered the site and made it difficult to navigate.</p>
    <p>During December, further features will be added to the site, including the ability for people to create watch zones, similar to the FireReady app. This will allow people to choose how they want to be notified about emergency information and warnings based on their location or area of interest.</p>
    <p>Further improvements to be made in early 2016 will include the addition of relief and recovery information.</p>
    <p>The CFA and SES warnings pages will now direct to the <a href="http://emergency.vic.gov.au/">VicEmergency website</a>, providing one location to access information before, during and after an emergency.</p>
    <p>Agency websites will continue to provide information on how to plan and prepare for emergencies.</p>
    <h3 class="question">Why are you making these changes this summer?</h3>
    <p>Previous reviews have recommended having incidents and warnings housed on one site, rather than community members having to search multiple sites during an emergency.</p>
    <p>A centralised emergencies website makes it easier for the community to source emergency information and warnings.</p>
    <p>Since its launch in 2013, the VicEmergency website has undergone ongoing updates to provide the best possible experience for the Victorian community to access emergency information and warnings.</p>
    <p>The recent updates have been made through extensive community feedback and input from emergency management agencies and partners, to make sure the website is easy to use.</p>
    <h3 class="question">Will the website keep changing?</h3>
    <p>Yes. The website and other emergency warnings and information channels need to keep up with new technologies and the community’s needs.</p>
    <p>The recent updates have been made through extensive community feedback and input from emergency management agencies and partners, to make sure the website is easy to use and navigate.</p>
    <p>Development of the website is ongoing, with a focus to include additional content from other emergency management agencies and departments in the future.</p>
    <h3 class="question">Will the website keep up with high volumes of visitors during peak periods?</h3>
    <p>The VicEmergency website has undergone extensive, independent testing to ensure the site can manage peak periods during summer and large-scale emergencies.</p>
    <p>There are backup systems in place, including automated cloud based scalability for hosting, which means the capacity for usage can increase, in sync with the increase of visitors to the site. The website also includes 24/7 monitoring and support.</p>
    <p>Back-up systems are based on numbers of people visiting the site that exceed numbers seen even in Victoria’s worst fire seasons. These are the same systems that back up the FireReady App, supported by Amazon, AWS and Remasys.</p>
    <p>Redundancy warnings and incidents pages are also available and can be stood up within minutes if required.</p>
    <p>Victoria has an integrated warnings system, which means emergency information is available from a variety of channels.</p>
    <p>You can get information by tuning in to ABC local radio, commercial or community radio or SKY News TV, by downloading the FireReady App, phoning the Victorian Bushfire Information Line on 1800 240 667 or following VicEmergency on Twitter and Facebook.</p>
    <h3 class="question">Can I keep using agency websites for warnings and advice?</h3>
    <p>As of Wednesday, 11 November 2015, both the CFA warnings page at warnings.cfa.vic.gov.au and the SES warnings page at ses.vic.gov.au/warnings will redirect to the VicEmergency website.</p>
    <p>Both the CFA and SES websites will continue to provide information about planning and preparing for emergencies, such as fires and floods.</p>
    <h3 class="question">How were the improvements to VicEmergency made?</h3>
    <p>Extensive community testing was undertaken to look at how we could build on existing channels to provide Victorians with an improved source for emergency information and warnings.</p>
    <p>Research was conducted to test community understanding and perceptions of emergency maps and technology. This informed the build of the updated VicEmergency website.</p>
    <p>Further community testing was undertaken using an online and mobile prototype of VicEmergency.</p>
    <p>This captured a cross-section of the community with participants ranging from 20 to 60 years old, of various education levels and from across Melbourne and regional Victoria.</p>
    <p>Overall, the testing generated a positive response from participants and provided feedback for further improvements.</p>
    <h3 class="question">Why do some icons take time to appear on the map?</h3>
    <p>Some warnings for floods, storms, earthquakes and tsunamis do not come with an immediate geo-referenced location, so they may take several minutes to appear on the map view. All new warnings will always appear in the list so for the most current warnings please check the list view.</p>
</div>

<div class="item">
    <a name="acknowledgement"></a>
    <h2>Acknowledgements</h2>
    <p>Information displayed on this site has been sourced from the following agencies.</p>
    <a class="external" href="http://www.bom.gov.au/">Bureau of Meteorology (BoM)</a><br/>
    <a class="external" href="http://www.citipower.com.au/">Citipower</a><br/>
    <a class="external" href="http://www.cfa.vic.gov.au/">Country Fire Authority (CFA)</a><br/>
    <a class="external" href="http://www.education.vic.gov.au/">Department of Education and Early Childhood Development (DEECD)</a><br/>
    <a class="external" href="http://www.delwp.vic.gov.au/">Department of Environment, Land, Water & Planning  (DELWP)</a><br/>
    <a class="external" href="http://www.recovery.vic.gov.au/home">Department of Human Services (DHS)</a><br/>
    <a class="external" href="http://www.ga.gov.au/">Geoscience Australia</a><br/>
    <a class="external" href="http://jemena.com.au/">Jemena</a><br/>
    <a class="external" href="http://www.bom.gov.au/tsunami/about/jatwc.shtml">Joint Australian Tsunami Warning Centre (JATWC)</a><br/>
    <a class="external" href="http://www.mfb.vic.gov.au/">Metropolitan Fire Brigade (MFB)</a><br/>
    <a class="external" href="http://www.rfs.nsw.gov.au/">New South Wales Rural Fire Service (RFS)</a><br/>
    <a class="external" href="http://www.powercor.com.au/">PowerCor Australia</a><br/>
    <a class="external" href="http://www.cfs.sa.gov.au/">South Australian Country Fire Service (CFS)</a><br/>
    <a class="external" href="http://www.sp-ausnet.com.au/">SP AusNet</a><br/>
    <a class="external" href="http://uemg.com.au/">United Energy</a><br/>
    <a class="external" href="http://traffic.vicroads.vic.gov.au/">VicRoads</a><br/>
    <a class="external" href="http://www.ses.vic.gov.au/">Victoria State Emergency Service (VIC SES)</a><br/>
</div>


<div class="jump-to-top">
    <a href="#top"><i class="fa fa-angle-left"></i> Back</a>
</div>

