
<!--
    <h3><a class="external" href=""></a></h3>
    <p></p>
-->


<div class="item">
    <a name="who-can-help"></a>
    <h2>Who can help?</h2>
    <h3><a class="external" href="http://www.triplezero.gov.au/">Triple Zero (000) Emergency</a></h3>
    <p>Triple Zero (000) should be called when police, fire or ambulance attendance is needed in a life-threatening or time critical situation.</p>
    <p>Be prepared to describe your location as accurately as possible. Your mobile phone only shows call-takers your billing address, not your current GPS location.</p>

    <h3><a class="external" href="132 500 – SES Emergency">132 500 – SES Emergency</a></h3>
    <p>Call from anywhere in Victoria for tsunami emergency response.</p>

    <h3><a class="external" href="https://www.emv.vic.gov.au/our-work/victorias-warning-system/emergency-broadcasters/">Emergency radio and TV stations</a></h3>
    <p>Tune to ABC Local Radio, commercial and community designated radio stations or Sky News TV.</p>

    <h3><a class="external" href="http://www.ses.vic.gov.au/warnings/emergency-contacts">1300 842 737 – SES Information Line</a></h3>
    <p>The SES Information Line Operates during major tsunami events.</p>

</div>

<div class="item">
    <div class="image-container"></div>
    <a name="warning-systems"></a>
    <h2>Warning Systems</h2>
    <p>The Joint Australian Tsunami Warning Centre provides tsunami warnings for Australia. The Centre is operated by the Bureau of Meteorology and Geoscience Australia, and was established to provide Australia with an independent capability to detect, monitor, verify and warn the community of tsunami threats.</p>
    <p>Tsunami warnings for Victoria can be found on<br/>
        <a class="external" href="http://www.emergency.vic.gov.au/">Vic Emergency</a><br/>
        <a class="external" href="http://www.bom.gov.au/tsunami/">Joint Australian Tsunami Warning Centre website</a></p>

    <h3>Types of Tsunami Warnings</h3>
    <h4>National No Threat Bulletin</h4>
    <p>These bulletins are issued to advise the community that an undersea earthquake has been assessed, and that no tsunami threat exists.</p>
    
    <h4>National or State/Territory Tsunami Watch</h4>
    <p>These bulletins are issued to advise the community that a possible tsunami threat may exist, and that people should monitor the situation for further updates</p>
    
    <h4>State/Territory Tsunami Warning</h4>
    <p>These bulletins are issued to advise the community that a tsunami threat does exist, and to advise people what action they should take. Tsunami warnings have two categories of threat:</p>
    <ol>
        <li>Marine Environment – the tsunami will mainly affect the marine environment for specific coastal areas</li>
        <li>Land Inundation Threat – the tsunami may cause land flooding, dangerous waves and strong ocean currents for low-lying areas</li>
    </ol>
</div>

<div class="item">
    <a name="plan-and-prepare"></a>
    <h2>Plan and Prepare</h2>
    <p>Even though the overall tsunami risk to Victoria is lower than many other parts of the world, a tsunami may still impact the Victorian coast. The largest tsunami to affect Victoria in recent times occurred in May 1960 after a 9.5 magnitude earthquake in Chile.</p>
    <p>We’ve put together some important information that can help you learn more about what you can do to prepare for tsunami. You can use the sub-navigation or click on one of the questions below to start preparing now.</p>
    <ul>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/tsunamisafe/tsunami-warning-systems">How do tsunami warning systems work?</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/emergency-plans-and-kits/emergency-plans-and-kits">How can I prepare for tsunami?</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/tsunamisafe/what-to-do-in-a-tsunami">What should I do if a tsunami happens?</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/emergency-plans-and-kits/emergency-plans-and-kits">What is an emergency plan and what should it include?</a></li>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/emergency-plans-and-kits/emergency-plans-and-kits">What should I put in my emergency kit?</a></li>
    </ul>
    <p>Download the Emergency Toolkit which will help you before, during and after a tsunami emergency.</p>
    <ul>
        <li><a class="external" href="http://www.ses.vic.gov.au/get-ready/prepare-resources/emergency-toolkit.pdf">Emergency Toolkit.pdf (1.85 MB)</a></li>
    </ul>
</div>

<div class="item">
    <a name="tsunami-safety-messages"></a>
    <h2>Tsunami safety messages</h2>
    <h3>What to do during a marine tsunami</h3>
    <p>Ensure that you do the following during a marine tsunami:</p>
    <ul>
        <li>Get out of the water and move away from the immediate water's edge of harbours, coastal estuaries, rock platforms, and beaches.</li>
        <li>Boats in harbours, estuaries and in shallow coastal water should return to shore - secure your boat and move away from the waterfront.</li>
        <li>Vessels already at sea should stay offshore in deep water until further advised.</li>
        <li>Do not go to the coast to watch the tsunami, as there is the possibility of dangerous, localised land inundation of the immediate foreshore.</li>
        <li>Check that your neighbours are aware of the situation.</li>
    </ul>
    <h3>What to do during a land Tsunami</h3>
    <p>Ensure that you do the following during a land tsunami:</p>
    <ul>
        <li>Go to higher ground, at least ten metres above sea level, or if possible move at least one kilometre away from all beaches and the water's edge of harbours and coastal estuaries.</li>
        <li>Take only essential items that you can carry including important papers, family photographs and medical needs.</li>
        <li>It may be in your own interests to walk to safety if possible to avoid traffic jams.</li>
        <li>If you cannot leave the area take shelter in the upper storey of a sturdy brick or concrete multi-storey building.</li>
        <li>Do not go to the coast to watch the tsunami, as there is the possibility of dangerous, localised land inundation.</li>
        <li>Tune into your emergency broadcasters - ABC Local Radio, commercial radio and designated community radio stations, or SKY NEWS Television</li>
    </ul>
</div>


<div class="jump-to-top">
    <a href="#top"><i class="fa fa-angle-left"></i> Back</a>
</div>
