<div id="leaflet-popup-styling">
    <div class="panel panel-default osom-panel-map-marker watchzone-popup watchzone-editor">
        <div class="panel-body">
            <form id="watchzone-editor-form" class="visible-wz-new">
                <div class="form-group">
                    <input minlength="4"
                           maxlength="60"
                           xpattern="^[a-zA-Z0-9\s]{4,20}$"
                           required
                           data-error="Watch Zone name must be from 4 to 20 characters and to be unique."
                           type="text"
                           class="form-control input-lg"
                           placeholder="Watch Zone Name"
                           id="txt-watchzone-name"
                           data-unique="foo" />
                    <span class="help-block with-errors"></span>
                </div>
                <div class="slider-wrapper">
                    <input class="input-slider"
                           id="distanceSlider"
                           data-slider-id='rx'
                           type="text"
                           data-slider-min="1"
                           data-slider-max="1000"
                           data-slider-step="5"
                           data-slider-value="500"
                           data-slider-handle="square" />
                    <div>
                        <span class="pull-left">0.1km</span>
                        <span style="margin-left:37%">50km</span>
                        <span class="pull-right">100km</span>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn-submit hidden-on-edit" id="create-watch-zone-btn">Create Watch Zone</button>
                <div class="visible-on-edit edit-buttons">
                    <div class="notificaiton-setting-panel hide">
                        <span>Notifications</span>
                        <div class="pull-right">
                            <input type="checkbox" class="pull-right" id="chk-watch-zone-notification" />
                        </div>
                    </div>
                    <button type="button" class="pull-left btn-submit" >Edit Notification</button>
                    <button type="submit" class="btn-submit pull-right " id="update-watch-zone-btn">Save</button>
                    <br/>
                    <br />
                    
                    <a class="pull-left watch-zone-popup-delete-btn watch-zone-item-trigger" item-id="{{uuid}}" trigger-mode="delete"> <img class="icon-controls-wz-delete" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"> &nbsp; Delete</a>

                </div>
                <a href="#" id="cancel-watch-zone-process-btn" class="watch-zone-cancel-trigger">Cancel</a>
            </form>
            <div class="visible-wz-created wz-success-view">
                You will receive notification for the following Watch Zones:
                <br />
                <br />
                <strong><span id="zw-created-name"></span></strong>
                <br />
                <br />
                You can adjust your notification in the settings panel.
                <br />
                <br />
                <button type="button" class="btn-submit watch-zone-cancel-trigger" id="finish-watch-zone-btn">Finish</button>
            </div>
        </div>
        <div class="panel-footer">

        </div>
    </div>
</div>
