<div id="leaflet-popup-styling">
    <div class="panel panel-default osom-panel-map-marker watchzone-popup watchzone-editor">
        <div class="panel-body">
            <form id="watchzone-editor-form" class="visible-wz-new">
                <div class="form-group">
                    <input minlength="4"
                           maxlength="60"
                           xpattern="^[a-zA-Z0-9\s]{4,20}$"
                           required
                           data-error="Watch Zone name must be from 4 to 20 characters and to be unique."
                           type="text"
                           class="form-control input-lg"
                           placeholder="Watch Zone Name"
                           id="txt-watchzone-name"
                           data-unique="foo" />
                    <span class="help-block with-errors"></span>
                </div>
                <div class="slider-wrapper">
                    <input class="input-slider"
                           id="distanceSlider"
                           data-slider-id='rx'
                           type="text"
                           data-slider-min="1"
                           data-slider-max="1000"
                           data-slider-step="5"
                           data-slider-value="500"
                           data-slider-handle="square" />
                    <div>
                        <span class="pull-left">0.1km</span>
                        <span style="margin-left:33%">50km</span>
                        <span class="pull-right">100km</span>
                    </div>
                </div>
                <div class="button-wrapper hidden-on-edit">
                    <div class="pull-left left-button">
                        <button id="cancel-watch-zone-process-btn" class="watch-zone-cancel-trigger decline-button ">Cancel</button>
                    </div>
                    <div class="pull-right right-button">
                        <button type="submit" class="accept-button hidden-on-edit pull-right" id="create-watch-zone-btn">Create</button>
                    </div>
                </div>
                <div class="quick-links visible-on-edit">
                    <a class="pull-left watch-zone-item-trigger" item-id="{{name}}" trigger-mode="delete"> <img class="icon-controls-wz-delete-small" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"> <span>&nbsp; Delete</span></a>
                    <div class="pull-right">
                        <a class="notification-setting-link pull-left" href="./profile/filter-watchzone.html?id={{name}}">
                            <img class="icon-controls-wz-mail-small" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"> <span>&nbsp; Notifications  </span>
                        </a>

                        <div class="pull-right emv-small-switch">
                            <input type="checkbox" id="chk-watch-zone-notification" />
                        </div>
                    </div>
                </div>

                <div class="button-wrapper visible-on-edit">
                    
                    <div class="pull-left left-button">
                        <button id="cancel-watch-zone-process-btn" class="watch-zone-cancel-trigger decline-button ">Cancel</button>
                    </div>
                    <div class="pull-right right-button">
                        
                        <button type="submit" class="accept-button pull-right " id="update-watch-zone-btn">Save</button>
                    </div>
                </div>

                

            </form>
            <div class="visible-wz-created wz-success-view">
                You will receive notification for the following Watch Zones:
                <div id="zw-created-name"></div>
                You can adjust your notification in the settings panel.
                <br />
                <br />
                <button type="button" class="btn-submit watch-zone-cancel-trigger" id="finish-watch-zone-btn">Finish</button>
            </div>
        </div>
        <div class="panel-footer">

        </div>
    </div>
</div>
